html,
body {
  font-family: 'Montserrat';
  min-height: 100vh;
  overflow-x: hidden;
}

a, a span{
  color: #277cea;
  -webkit-transition: .25s color ease-in-out, .25s background-color ease-in-out;
  -o-transition: .25s color ease-in-out, .25s background-color ease-in-out;
  transition: .25s color ease-in-out, .25s background-color ease-in-out;
}
a:hover, a:hover span {
  color: #23527c;
}
a:hover {
  text-decoration: none;
}
a:hover span {
  text-decoration: underline;
}

.ng-scope {
  min-height:100%;
  position:relative;
}

@media (min-width: 1200px){
 .container {
    padding: 0px;
    width: 1190px;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/montserrat-bold-webfont.eot');
  src: url('/fonts/Montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Montserrat/montserrat-bold-webfont.woff2') format('woff2'),
       url('/fonts/Montserrat/montserrat-bold-webfont.woff') format('woff'),
       url('/fonts/Montserrat/montserrat-bold-webfont.ttf') format('truetype'),
       url('/fonts/Montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat/montserrat-regular-webfont.eot');
  src: url('/fonts/Montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('/fonts/Montserrat/montserrat-regular-webfont.woff') format('woff'),
       url('/fonts/Montserrat/montserrat-regular-webfont.ttf') format('truetype'),
       url('/fonts/Montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.form-group{
  margin-bottom:20px;
}
/****index.html*****/
.navbar-collapse{
  padding:0px;
}
.navbar-default{
  background: #fff;
  border:0px;
  border-bottom:2px solid #499c4b;
  border-radius:0px;
  min-height:60px;
  margin-bottom:0px;

}
.navbar-brand{
  color:#499c4b !important;
  height:60px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;

}
.nav{
  margin-left: 30px;
}
.nav > li > a{
  line-height: 32px;
  text-transform: uppercase;
  color:#838D8F!important;
  font-size:12px;
  font-family: 'Montserrat-Bold', sans-serif;
  padding:15px 10px !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:#aaa !important;
  background:none;
}
.navbar-form{
  float:left;
  margin-top:12px;
  width:411px;
}
.navbar-form .form-group .input-group{
  width:300px;
}
.navbar-form .input-group-addon{
  height: 40px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  background:#fafafa;
  border:1.5px solid #eaeaea !important;
  border-right:none !important;
}
.navbar-form input[type='text']{
  width: 100%;
  height: 40px;
  border-left:none;
  box-shadow:none;
  background:#fafafa;
  font-size:14px;
  width:20%;
  outline:none;
  border:1.5px solid #eaeaea !important;
  border-left:none !important;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  outline:none!important;
  color:#acb2b3;
  font-size: 12px;
}
.navbar-form input[type='text']:active{
  outline:none !important;
  border:1.5px solid #eaeaea !important;
  border-left:none !important;
}

.navbar-form .glyphicon{
  top:0px;
  vertical-align: middle;
}
.navbar-form .btn{
  margin-left:16px;
  background:#499c4b;
  font-size:9px;
  font-family: 'Montserrat-Bold';
  padding:6px 10px;
}
.navbar .pull-right{
  line-height:60px;
  height:60px;
  color:#aaa;
  font-family: 'Montserrat', sans-serif;
}
.navbar .pull-right a{
  color:#499c4b;
}
.main-container{
  width:100%;
  padding:0px;
  background:#eaeaea;
  min-height:100vh;
}
/******/
/****dashboard main.html***/
.dashboard-container{
  height:400px;
  padding:0px;
}
.dashboard-container .col-md-6{
  height:350px;
  width:calc(50% - 50px);
  background: #fff;
  margin-top:25px;
  margin-left:25px;
  margin-right:25px;
  padding:0px;
}
/*.dashboard-container .col-sm-12{
  height:350px;
  width:calc(100% - 30px);
  background: #fff;
  margin-top:25px;
  margin-left:15px;
  margin-right:15px;
  padding:0px;
}*/
.sub-container__header{
  height:50px;
  border-bottom:1px solid #eaeaea;
}
.sub-container__body{
  height:250px;
  overflow-y:scroll;
}
.sub_container__footer{
  height:50px;
  background:#f7f7f7;
  padding-right:10px;
  line-height:50px;
}
.recent-sites .heading{
  margin-left:10px;
  color:#bbb;
  line-height: 50px;
  font-size:12px;
  letter-spacing: 2px;
}
.dashboard-container .btn{
    background:#499c4b;
    font-size:12px;
    padding:6px 20px;
    border:none !important;
    margin-top:10px;
    border-radius:6px;
}
.quick-links .sub-container__body{
  height:350px;
}
.datepicker{
  width:40%;
  outline:none !important;
  height:300px;
  border-right:1px solid #eaeaea;
  float:left;
}
.pickadate-centered-heading{
  margin:0px;
  line-height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.pickadate-cell li{
  border-width: 0px !important;
}
.pickadate-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom:1px solid #eaeaea;
}
.pickadate-head{
  border:none !important;
  background:none !important;
  font-style:italic;
  font-size: 14px;
}
.pickadate-cell:last-child li{
  background:#fafafa;
  font-size:14px;
  height:32px;
  line-height: 32px !important;
  padding:0px !important;
  outline:none !important;
}
.pickadate-cell .pickadate-active{
  background:rgb(33,99,229)!important;
}
.pickadate-controls{
  padding-left:10px;
  padding-right:10px;
}
.pickadate a{
  outline:none !important;
}

.quick-links .info-header {
  border-bottom:1px solid #eaeaea;
  color:#bbb;
  height: 50px;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 12px;
  padding-left: 10px;
}
.quick-links .info-container {
  height:300px;
}
.site-list,.links-list{
  margin-bottom: 0px;
  padding: 0px;
}
.site-list li,.links-list li{
  border-bottom: 1px solid #eaeaea;
  display: block;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
}

.site-list li a, .links-list li a {
  display: block;
  overflow: hidden;
  width: 100%;
}
.site-list li a, .links-list li {
  padding-left: 20px;
  padding-right: 20px;
}
.site-list li a:hover, .links-list li a:hover {
  background-color: #ccc;
}
.site-list li .site_title, .links-list li .link_title{
  font-size: 13px;
  letter-spacing: 1px;
}
.links-list .link_title img{
  margin-right:10px;
}
.links-list .link_title input[type="text"]{
  display:inline-block;
  width:275px;
  border-radius:10px;
  background:#fafafa;
  border:1.5px solid #eaeaea !important;
  outline:none !important;
  box-shadow: none !important;
  margin-right: 20px;
  padding-left: 15px;
  font-size: 13px;
  color:#838d8f;

}
.links-list .link_title .glyphicon{
  font-size: 10px;
}
.links-list li {

}
.site-list li .site_info,.links-list li .site_info{
  color:#838d8f;
  font-style: italic;
  font-size: 13px;

}
.site_info i{
  color:#277cea;
  margin-left:10px;
  font-size:10px;
}
.info-container{
  height:250px;
  overflow: scroll;
}
/****/
/*** dashboard pipeline***/

.pipeline-container{
  min-height:500px!important;
  position:relative;
  width:100%;
  background:#fafafa;
  padding-top:20px;
}
.pipeline-container .col-md-12{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.pipe{
  width:238px;
  float:left;
  padding:10px;
  padding-left:15px;
  padding-right: 0px;
  -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

}
.pipe:last-child{
  border:none !important;
}
.pipe .pipe-title{
  color: #838D8F;
  font-size: 11px;
  font-weight:700;
  font-family: 'Montserrat', sans-serif;

}
.pipe .pipe-card-container{
  border-right:2px solid #eaeaea;
  padding-bottom: 20px;
  height:calc(100% - 45px);
}
.close-pipe .pipe-card-container{
  border:none !important;
}
.pipe .pipe-title .pipe-number{
  font-size: 11px;
  color:#bbc0c1;
}
.pipe .pipe-card{
  margin-top:30px;
  width:208px;
  background: #fff;
  border:1px solid #eff2f3;
  box-shadow: 0px 2px 0px 0px #499c4b;
  padding-left:10px;
  padding-right: 10px;
  min-height:90px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pipe-card img{
  float:left;
  margin-left: 27.5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.pipe .pipe-card.create-opp {
  color: #277cea;
  cursor: pointer;
  font-size: 13px;
}
.pipe a .pipe-card.create-opp span{
  float: left;
  margin-left: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.pipe a:hover .pipe-card.create-opp span {
  color: #23527c;
}
.opp-pipe .pipe-card:nth-child(1){
  box-shadow: 0px 2px 0px 0px #277cea;
}
.opp-pipe .pipe-card:nth-child(2){
  box-shadow: 0px 2px 0px 0px #e74c3c;
}
.opp-pipe .pipe-card:nth-child(3){
  box-shadow: 0px 2px 0px 0px #f1c40f;
}
.opp-pipe .pipe-card:nth-child(4){
  box-shadow: 0px 2px 0px 0px #499c4b;
}
.opp-pipe .pipe-card:nth-child(5){
  box-shadow: 0px 2px 0px 0px #95a5a6;
}
.pipe-card div{
  color: #3c3d41;
  float: left;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 12.5px;
  position: relative;
}
.close-pipe .pipe-card div span:nth-child(3){
  color: #499c4b;
  font-weight: 700;
  font-style: normal;
}
.pipe-card div span:nth-child(2){
  display:block;
  color: #838d8f;
  font-style: italic;
  font-size: 13px;
}
.close-pipe .pipe-card:nth-child(1){
  box-shadow: 0px 2px 0px 0px #277cea;
  color:#277cea;
}
.close-pipe .pipe-card:nth-child(1) div{
  color:#277cea;
  text-align: center;
  float:left;
  position: relative;
  margin-top: 0px;
  margin-left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.close-pipe .pipe-card:nth-child(1) div span:nth-child(2){
  color:#3c3d41;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
/***end***/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
/****login.html*****/
  .bg-container{
    width:100%;
    height:100%;
    background-image:url(../images/bg.png);
    background-color:rgba(238,238,238,0.9);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-blend-mode:screen;
  }
  .login-container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .login-box{
     border-radius: 4px;
    background-color:   #ffffff;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
    width: 388px;
    height: 259px;
  }
  .login-box_header{
    height:45px;
    width:100%;
    border-bottom:1px solid #eee;
    line-height: 45px;
    color:  #277cea;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
  }
  .login-box_body .form-container{
    width:auto;
    padding-left:23px;
    padding-top: 15px;
  }
  .login-box_body .form-container .form-group{
    margin-bottom: 15px;
  }
  .login-box_body .form-container label{
    color:  #3b3d40;
    font-size: 12px;
    margin-bottom: 15px;
    display:inline-block;
  }
  .login-box_body .form-container label a{
    margin-left:5px;
    color: #277cea;
  }
  .login-box_body .form-container input{
    width: 340px;
    height: 45px;
  }
  .login-btn{
    border-radius: 14px;
    background-color:  #499c4b;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 42px;
    line-height: 42px;
    position:relative;
    margin-top:20px;
    margin-left: 109px;
    padding: 0px;
    text-align: left;
  }
  .login-btn span{
    color:   #ffffff;
  font-size: 11px; /* Approximation due to font substitution */
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
  }
  .login-btn img{
    float:right;
    margin-right: 15px;
    vertical-align: middle;
    margin-top: 13.5px;
  }

/****/
/****index.html*****/


/******/

/****dashboard main.html***/
.
.pipeline-container .col-md-12{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.pipe{
  width:238px;
  float:left;
  padding:10px;
  padding-left:15px;
  padding-right: 0px;
  -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

}
.pipe:last-child{
  border:none !important;
}
.pipe .pipe-title{
  color: #838D8F;
  font-size: 11px;
  font-weight:700;

}
.pipe .pipe-card-container{
  border-right:2px solid #eaeaea;
  padding-bottom: 20px;
  height:calc(100% - 45px);
  margin-left:-7.5px;
}
.close-pipe .pipe-card-container{
  border:none !important;
}
.pipe .pipe-title .pipe-number{
  font-size: 11px;
  color:#bbc0c1;
}
.pipe .pipe-card{
  margin-top:30px;
  width:220px;
  height:83px;
  background: #fff;
  border:1px solid #eff2f3;
  box-shadow: 0px 2px 0px 0px #499c4b;
  padding-left:10px;
  padding-right: 10px;
  cursor:-webkit-grab;
}
.pipe-card img{
  float:left;
  margin-left: 27.5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.opp-pipe .pipe-card:nth-child(1){
  box-shadow: 0px 2px 0px 0px #277cea;
}
.opp-pipe .pipe-card:nth-child(2){
  box-shadow: 0px 2px 0px 0px #e74c3c;
}
.opp-pipe .pipe-card:nth-child(3){
  box-shadow: 0px 2px 0px 0px #f1c40f;
}
.opp-pipe .pipe-card:nth-child(4){
  box-shadow: 0px 2px 0px 0px #499c4b;
}
.opp-pipe .pipe-card:nth-child(5){
  box-shadow: 0px 2px 0px 0px #95a5a6;
}
.pipe-card div{
   margin-left: 10px;
  float:left;
  position: relative;
  margin-top:12.5px;
  font-size: 13px;
  color:#3c3d41;
  font-family: 'Montserrat', sans-serif;
}
.close-pipe .pipe-card div span:nth-child(3){
  color:#499c4b;
  font-weight: 700;
  font-style: normal;
}
.pipe-card div span:nth-child(2){
  display:block;
  color: #838d8f;
  font-style: italic;
  font-size: 13px;
}
.close-pipe .pipe-card:nth-child(1){
  box-shadow: 0px 2px 0px 0px #277cea;
  color:#277cea;
}
.close-pipe .pipe-card:nth-child(1) div{
  color:#277cea;
  text-align: center;
  float:left;
  position: relative;
  margin-top: 0px;
  margin-left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.close-pipe .pipe-card:nth-child(1) div span:nth-child(2){
  color:#3c3d41;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.out-amount{
  cursor:default !important;
}
/***end***/



/***customer page, sites page****/
  .customer-container,.site-container{
    height:100%;
    background:#fafafa;
    width:100%;
  }
  .customer-content,.site-content{
    width:1190px;
    margin:0 auto;
    min-height:100vh;
    margin-bottom:30px;
  }
  .container-title{
    margin-left: 25px;
    padding:0px;
    color:#838d8f;
    font-size: 12px;
    margin-top: 25px;
  }
  .form-left{
    margin-top: 25px;
    margin-left: 25px;
    width:570px;
    height:610px;
    background: #fff;
    padding:0px;
  }
  .form-right{
    margin-top: 25px;
    margin-left: 25px;
    width:570px;
    height:500px;
    float:right;
    margin-right: 25px;
    padding:0px;
    position:relative;
  }
  .form-right .container{
    width:100%;
  }
  .bill-add-form, .contract-sign-form{
    height:336px;
    background: #fff;
    width:570px;
    padding:0px;
    margin-left: 15px;
  }
  .save-form{
    height:117px;
    position:relative;
    background: #fff;
    width: 570px;
    padding:0px;
    margin-left: 15px;
  }
  .customer-content .form-title , .proj-over-content .form-title, .proj-doc-content .form-title, .form-title{
    height:50px;
    border-bottom: 1px solid #fafafa;
    line-height: 50px;
    padding-left:15px;
    color:#277cea;
    font-size: 12px;
    font-weight: 700;
  }
  .form-title .badge{
    border-radius: 4px;
    height: 24px;
    width:24px;
    line-height: 18px;
    background: #277cea;
    margin-right: 10px;
  }
  .form-container{
    width:474px;
    padding-left: 10px;
    padding-top:30px;
  }
  .form-container label{
    color:  #3b3d40;
    font-size: 12px;
    font-weight: 400;
  }
  .form-container label sup{
    color:#ff0d0d;
    font-size: 12px;
    top:0px;
    left: 2px;
  }
  .form-container input,.form-container textarea{
    background:#eee;
    border:none !important;
    outline:none !important;
  }
  input:focus,textarea:focus{
    box-shadow: none !important;
    border:none!important;
    outline:none !important;
  }
  .form-container .textarea{
    width:100%;
    height:200px;
    resize:none;
  }
  .save-form .form-container{
    padding-top:15px;
  }
  .save-form input{
    width:148px;
    color:   #ffffff !important;
    font-size: 9px;
    height:25px;
    background:#499c4b;
  }
  .card-highlight{
     margin-top:30px;
  width:220px;
  height:90px;
  background:rgba(0,0,0,0.3);
  padding-left:10px;
  padding-right: 10px;

  }

/***end******/
/***overview***/
.sidebar{
  width:240px;
  bottom:0;
  top:0;
  background-color: rgb(227, 227, 227);
  position:absolute;
  left:0px;
  border-right:2px solid rgb(215,215,215);
}
.sidebar .sidebar-menu{
  list-style-type: none;
  padding:0px;
}
.sidebar-menu li{
  padding-left: 25px;
  height:54px;
  line-height: 54px;
  border-bottom:1px solid rgba(172,172,172,0.5);
}


.sidebar-menu li .title{
  font-family:'Montserrat', sans-serif;
  font-size: 12px;
  color: rgb(60, 61, 65);
  margin-left:20px;
  font-weight: bold;
}
.overview-content{
  width:100%;
  margin-left:240px;
  min-height:100vh;
}
.proj-over-container,.proj-doc-container{
  width:auto !important;
  margin-left:0;
  margin-right:auto;
  min-height:431px;
}
.proj-over-container .col-lg-6 input{
  width:226px;
}
.core-info-container{
  margin-left:30px;
  margin-top: 45px;
}
.core-info-container>span{
  color:#277cea;
  font-size: 12px;
  display:block;
  margin-bottom: 15px;
}
.core-info-container .core-info-card{
  background:  #fff;
  height: auto;
  padding: 20px;
  width: 220px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.core-info .info-title{
  color:#3c3d41;
  display:block;
  font-size:13px;
}
.core-info .info-address{
  color:#838d8f;
  font-size: 13px;
  font-style: italic;
  line-height: 16px;
}
.core-info .sub-info{
  color:#838d8f;
  font-size: 12px;
  display: block;
  line-height: 24px;
}
.sub-info>span{
  color:#3c3d41;
  margin-left:5px;
}
.sub-info:last-child>span{
  color:#ff0d0d;
}
/**end***/
/**overview-contract**/
.container-note{
  background-color:  #1abc9c;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  width: 570px;
  height: 44px;
  color:   #ffffff;
  font-size: 13px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 44px; /* Approximation due to font substitution */
  text-align: left;
  display:block;
  margin-top:20px;
  margin-left:25px;
  padding-left:20px;
}
.container-note img{
  margin-right:10px;
}
.container-head{
  background-color:  #277cea;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  width: 1150px;
  height: 44px;
  color:   #ffffff;
  font-size: 13px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 44px; /* Approximation due to font substitution */
  text-align: left;
  display:block;
  margin-top:20px;
  margin-left:25px;
  padding-left:20px;
}
.proj-over-content> .row{
  margin:0px;
}
.proj-over-content .form-left{
  min-height:0px;
  height:auto;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);

}
.proj-over-content .form-left:last-child{
  margin-bottom:30px;
}
.proj-over-content .form-left .form-container{
  display:inline-block;
}
.proj-over-content .form-right{
  float:left;
  margin-left:10px;
  border-radius: 4px;
}
.contract-sign-form, .save-form{
  border-radius: 4px;
}
.proj-over-content .save-form{
  height:151px;
}
.contract-sign-form{
  height:251px;
}
.proj-over-container .form-container{
  width:497px;
}
.proj-over-content .form-container .form-control{
  height:45px;
}
.proj-over-content .form-container .textarea{
  width:474px;
  height:200px;
}
.form-container .attachment{
  margin-left: 15px;
  line-height: 45px;
}
.form-container .attachment label{
  font-size: 12px;
  color:  #499c4b;
  cursor: pointer;
  margin-bottom: 0px;
}
.form-container .attachment label span{
  margin-left:5px;
  font-weight: 700;
}
input[type="file"]{
 display:none;
}
.save-form .form-container input{
  width:auto;
  padding:0 21px;
}
.save-form .form-container span{
  color:  #3b3d40;
  font-size: 12px; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 14.4px; /* Approximation due to font substitution */
  text-align: left;
  display:block;
  margin-bottom:18px;
}
/***end***/
/*****project-doc******/
.proj-doc-content,.customers-content,.sites-content{
  width:925px;
}
.proj-doc-content .row{
  margin:0px;
}
.doc-btns{
  font-size:10px;
  font-weight: 700;
  border:1px solid #838d8f;
  float:left;
  width:195px;
  height:34px;
  margin-left:10px;
  margin-top: 30px;
  line-height: 34px;
  text-align: center;
  border-radius:16px;
  border-style: solid; border-width: 1px; border-color: rgb(221, 221, 221); border-radius: 18px;width: 197px; height: 36px; z-index: 181;
}
.doc-btns img{
  margin-right: 10px;
}
.doc-btns.active{
 background: #fff;
}
.actn-btn-container{
  margin-top:30px;
  color: #fff;
  float:left;
  padding-right:0px;
}
.actn-btn{
  float:left;
  border-radius: 14px;
  background-color:  #1abc9c;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  width: 170px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  margin-right:25px;
  font-size:13px;
  font-weight: 400;
  text-align: left;
  padding-left:20px;
  padding-right: 10px;
}
.actn-btn:first-child{
  margin-left:10px;
}
.actn-btn img{
  margin-top:15px;
}
 .actn-btn-container .actn-btn:last-child{
  background:#499c4b;
  margin-right: 0px;
}
.table{
  margin-left:10px;
  width:900px;
  background-color:   #ffffff;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  margin-top:67px;
  border-radius: 4px;
}
.table > tbody > tr > td{
  padding:15px;
}
.table th{
  padding-left: 15px !important;
}
.table thead>tr>th{
  color:  #277cea;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 45px;
  border-bottom:0px solid #eee;
}
.photo-table thead tr th:nth-child(4),.photo-table thead tr th:nth-child(5){
  text-align: center;
}
tbody td{
  font-size:12px;
  color:  #3b3d40;
  border-top:1px solid #eee !important;
}
.photo-table tbody .stg-btn, .doc-table tbody .stg-btn{
  display:inline-block;
  background-color: #95a5a6;
  color:  #fff;
  font-size: 9px;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  height:25px;
  line-height: 12px;
}
.table tbody .row-actn-btns span{
  color: #277cea;
  margin-right: 20px;
  text-decoration: underline;
}
.photo-table tbody .row-actn-btns span:last-child{
  margin-right:0px;
}
.photo-table tbody .thumb{
  width:100px;
}
.doc-table{

}
.doc-table tbody td{
  line-height: 35px !important;
}
.cell-center{
  text-align: center;
}
.pagination li:first-child,.pagination li:nth-child(3),.pagination li:nth-last-child(3),.pagination li:last-child{
  display:none;
}
.page-container{
  display:inline-block;
  width:100%;
  text-align: center;
}
.page-container>span{
    vertical-align: top;
  /* clear: both; */
  margin-top: 6px;
  display: inline-block;
  color:#838d8f;
  font-size: 12px;
}
.page-container>.pages{
  color:#277cea;
  margin-left:5px;
  cursor:pointer;
}
.page-container>.pages.active{
  color:#3b3d40;
  outline:none;
  border:none;
}
.page-container div{
  display:inline-block;
}
.pagination{
  margin:0px !important;
}
.pagination li a{
  background:transparent !important;
  border:none !important;
  outline:none !important;
  margin:0px !important;
  font-size: 12px;
  color:#277cea;
  padding:6px 5px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  color:#3b3d40;
}
/****end****/
/***customers list page****/
.actn-btn:last-child{
 font-size: 11px;
 color: #fff;
}
.cust-table tbody td,.site-table tbody td{
  line-height: 35px !important;
}
.usr-srchbx{
  float:right;
  width: 240px;
  margin-top: 67px;
  background: #fff;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.usr-srchbx .form-container{
  width:226px;
}
.usr-srchbx .form-container input[type='submit']{
  font-size: 9px;
  font-family: 'Montserrat-Bold';
  width:120px;
  color: #fff;
  height:25px;
  background: #499c4b;
  margin-left:33px;

}
/****end***/
/***project overview page***/
.proj-over-content .pipe{
  margin-top: 30px;
  margin-left: 30px;
}
.proj-over-content .pipe .pipe-card{
  cursor:pointer;
  margin-top:15px;
}
.proj-over-content .pipe>span:first-child{
  color:#277cea;
  font-size: 12px;
  font-family: 'Montserrat-Bold';
}
.proj-over-content .form-title .edit-btn{
    background: #499c4b;
    width: 63px;
    height: 25px;
    line-height: 18px;
    text-align: center;
    display: inline;
    margin-top: 12px;
    line-height: 22px;
    border-radius: 4px;
    /* float: right; */
    color: white;
    font-size: 9px;
    margin-right: 25px;
    letter-spacing: 1px;
  }
  .proj-over-content .form-title .edit-btn img{
    margin-right: 5px;
  }


/*****/
/*****new site form*****/
.form-left-container{
  float:left;
  width:570px;
}
.form-right-container{
  float:right;
  width:570px;
}
.site-info-form{
  height:336px;
}
.bill-info-form{
  background: #fff;
  height:336px;
}
.site-detail-form{
  height:415px;
}
#samebill+label{
  color:#3b3d40;
  margin-left:10px;
  margin-right:15px ;
}
/*****end*****/
