<div class="container site-content customer-portal">
	<div class="row">
		<h2 class="col-md-12 customer-header">
			CUSTOMER PORTAL
		</h2>
	</div>
	<div class="row">
		<div class="col-md-4 customer-milestone customer-panel">
			<div class="row">
				<div class="col-md-12 customer-panel-title">Milestones</div>
				<div class="col-md-6 border-right border-bottom customer-timeline-date">
					<span class="date">19/04</span>
					<p>Contract signed</p>
				</div>
				<div class="col-md-6 border-bottom customer-timeline-date">
					<span class="date">22/04</span>
					<p>Materials delivery date</p>
				</div>
				<div class="col-md-6 border-right customer-timeline-date">
					<span class="date">25/04</span>
					<p>Production date</p>
				</div>
				<div class="col-md-6 customer-timeline-date">
					<span class="date">27/04</span>
					<p>Planned final inspection</p>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 customer-panel">
					<div class="row">
						<div class="col-md-12 customer-panel-title">CUSTOMER INFO</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									First Name
								</span>
								<p class="field-value">Linda</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									Email
								</span>
								<p class="field-value">linda@gmail.com</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									Business Name
								</span>
								<p class="field-value">Creative Exteriors</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									Last Name
								</span>
								<p class="field-value">Higgans</p>
							</div>

							<div class="customer-field">
								<span class="field-title">
									Spouse
								</span>
								<p class="field-value">-</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-12 customer-panel">
					<div class="row">
						<div class="col-md-12 customer-panel-title">ADDRESS</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									Address 1
								</span>
								<p class="field-value">13340 W 72n Ave</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									City
								</span>
								<p class="field-value">Arvada</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									Zipcode
								</span>
								<p class="field-value">80005</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									Address 2
								</span>
								<p class="field-value">-</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									State
								</span>
								<p class="field-value">CO</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 ">
					<div class="customer-panel">
						<div class="row">
							<div class="col-md-12 customer-panel-title">PHONE NUMBERS</div>
							<div class="col-md-6">
								<div class="customer-field">
									<span class="field-title">
										Home Number
									</span>
									<p class="field-value">303-425-5565</p>
								</div>

								<div class="customer-field">
									<span class="field-title">
										Primary Number
									</span>
									<p class="field-value">303-425-5565</p>
								</div>
							</div>
							<div class="col-md-6"></div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="customer-panel">
						<div class="row">
							<div class="col-md-12 customer-panel-title">SITE DETAILS</div>
							<div class="col-md-6">
								<div class="customer-field">
									<span class="field-title">
										Site Name
									</span>
									<p class="field-value">Higgins Residence</p>
								</div>
								<div class="customer-field">
									<span class="field-title">
										Site Contact Name
									</span>
									<p class="field-value">-</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="customer-field">
									<span class="field-title">
										Managers
									</span>
									<p class="field-value">Ryan Nichols</p>
								</div>
								<div class="customer-field">
									<span class="field-title">
										Site Contact Name
									</span>
									<p class="field-value">-</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
