<div class="row">
	<div class="col-xs-12">
		<div flash-message="5000"></div>
	</div>
</div>
<div class="container site-content customer-portal" ng-show="model.auth_token">
	<div class="row">
		<h2 class="col-md-12 customer-header">
			CUSTOMER PORTAL
		</h2>
	</div>
	<div class="row">
		<div class="col-md-4 customer-milestone customer-panel">
			<div class="row">
				<div class="col-md-12 customer-panel-title">Milestones</div>
				<div class="col-md-6 border-right border-bottom customer-timeline-date">
					<span class="date">{{model.userInfo.project.contract_signed_date}}</span>
					<p>Contract signed</p>
				</div>
				<div class="col-md-6 border-bottom customer-timeline-date">
					<span class="date">{{model.userInfo.project.material_delivery_date}}</span>
					<p>Materials delivery date</p>
				</div>
				<div class="col-md-6 border-right customer-timeline-date">
					<span class="date">{{model.userInfo.project.production_date}}</span>
					<p>Production date</p>
				</div>
				<div class="col-md-6 customer-timeline-date">
					<span class="date">{{model.userInfo.project.production_inspection_date}}</span>
					<p>Planned final inspection</p>
				</div>
			</div>
		</div>
		<div class="col-md-8 customer-downloads">
			<div class="row">
				<div class="col-sm-6">
					<div class="download-wrap download-contract">
						<span class="field-title">DOCUMENT</span>
						<div class="download">
							<div class="info">
								<img src="/images/text_file.png" class="pull-left">
								<p class="title"><b>CONTRACT</b></p>
								<p class="byline">{{model.userInfo.project.contract_signed_date}}</p>	
							</div>
							<div class="download-section">
								<a href="{{model.userInfo.project.contract_document_url}}" class="download-link" target="_self" download="{{model.userInfo.project.contractName}}">DOWNLOAD <span class="glyphicon glyphicon-download-alt pull-right" aria-hidden="true"></span></a>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="download-wrap download-welcome">
						<span class="field-title">DOCUMENT</span>
						<div class="download">
							<div class="info">
								<img src="/images/text_file.png" class="pull-left">
								<p class="title"><b>WELCOME PACKET</b></p>
								<p class="byline">&nbsp;</p>	
							</div>
							<div class="download-section disabled">
								<p>AVAILABLE SOON</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="download-wrap download-completion">
						<span class="field-title">DOCUMENT</span>
						<div class="download">
							<div class="info">
								<img src="/images/text_file.png" class="pull-left">
								<p class="title"><b>COMPLETION PACKET</b></p>
								<p class="byline">&nbsp;</p>	
							</div>
							<div class="download-section disabled">
								<p>AVAILABLE SOON</p>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="download-wrap download-warranty">
						<span class="field-title">DOCUMENT</span>
						<div class="download">
							<div class="info">
								<img src="/images/text_file.png" class="pull-left">
								<p class="title"><b>WARRANTY</b></p>
								<p class="byline">&nbsp;</p>	
							</div>
							<div class="download-section disabled">
								<p>AVAILABLE SOON</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 customer-panel">
					<div class="row">
						<div class="col-md-12 customer-panel-title">CUSTOMER INFO</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									First Name
								</span>
								<p class="field-value">{{model.userInfo.customer.firstname}}</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									Email
								</span>
								<p class="field-value">{{model.userInfo.customer.email}}</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									Business Name
								</span>
								<p class="field-value">{{model.userInfo.customer.business_name || '-'}}</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									Last Name
								</span>
								<p class="field-value">{{model.userInfo.customer.lastname}}</p>
							</div>

							<div class="customer-field">
								<span class="field-title">
									Spouse
								</span>
								<p class="field-value">{{model.userInfo.customer.spouse || '-'}}</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-12 customer-panel">
					<div class="row">
						<div class="col-md-12 customer-panel-title">ADDRESS</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									Address 1
								</span>
								<p class="field-value">{{model.userInfo.site.address.address1 || '-'}}</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									City
								</span>
								<p class="field-value">{{model.userInfo.site.address.city || '-'}}</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									Zipcode
								</span>
								<p class="field-value">{{model.userInfo.site.address.zipcode || '-'}}</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="customer-field">
								<span class="field-title">
									Address 2
								</span>
								<p class="field-value">{{model.userInfo.site.address.address2 || '-'}}</p>
							</div>
							<div class="customer-field">
								<span class="field-title">
									State
								</span>
								<p class="field-value">{{model.userInfo.site.address.state || '-'}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 ">
					<div class="customer-panel">
						<div class="row">
							<div class="col-md-12 customer-panel-title">PHONE NUMBERS</div>
							<div class="col-md-6">
								<div class="customer-field" ng-repeat="phone in model.userInfo.customer.phone_numbers">
									<span class="field-title">
										{{model.phoneTypes[phone.num_type]}}
									</span>
									<p class="field-value">{{phone.number}}</p>
									<i ng-show="phone.primary">Primary</i>
								</div>
							</div>
							<div class="col-md-6"></div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="customer-panel">
						<div class="row">
							<div class="col-md-12 customer-panel-title">SITE DETAILS</div>
							<div class="col-md-6">
								<div class="customer-field">
									<span class="field-title">
										Site Name
									</span>
									<p class="field-value">{{model.userInfo.site.name}}</p>
								</div>
								<div class="customer-field">
									<span class="field-title">
										Site Contact Name
									</span>
									<p class="field-value">{{model.userInfo.customer.firstname}} {{model.userInfo.customer.lastname}}</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="customer-field">
									<span class="field-title">
										Managers
									</span>
									<p class="field-value" ng-repeat="manager in model.userInfo.site.managers">{{manager.email}}</p>
								</div>
								<!-- <div class="customer-field">
									<span class="field-title">
										Site Contact Name
									</span>
									<p class="field-value">-</p>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-container row" ng-show="!model.auth_token">
	<div class="login-container col-xs-12 col-sm-10 col-md-6 col-lg-4 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
		<form name="loginForm" autocomplete="on" ng-submit="signUp()" ng-show="!model.showInvalidTokenMessage">
			<div class="login-box">
				<div class="login-box_header">
					Hi, {{model.customerName}}!
				</div>
				<div class="login-box_body">
					<div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid }">
						<label>PO Number:<sup>*</sup></label>
						<input type="text" name="password" class="form-control" ng-model="model.PONumber" tabindex="2" ng-required="required">
					</div>
				</div>
			</div>
			<div class="text-center">
				<div ng-disabled="testPONumber()" class="btn login-btn" ng-click="signUp()" ng-keyup="$event.keyCode == 13 && signUp()" tabindex="3">
					<span>LOG IN</span>
					<img src="/images/West.png">
					<input type="submit" style="display:none;">
					<div class="spinner-wrapper">
						<span us-spinner="{lines: 10, radius:5, width: 4, length: 8, scale: 0.75}" spinner-key="login-spinner"></span>
					</div>
				</div>
			</div>
		</form>
		<div class="text-center" ng-show="model.showInvalidTokenMessage">
			<h2>Invalid access token</h2>
		</div>
	</div>
</div>