<div class="container customer-container">
	<div flash-message="5000"></div>
	
	<div class="customer-content row">
		<div class="col-xs-12 container-title">
			CUSTOMERS/<u>CUSTOMER OVERVIEW</u>
		</div>
		<div class="customers-container col-xs-12">
			<div class="customers-content">
				<div class="col-xs-12 actn-btn-container clearfix">
					<a ui-sref="newcustomer"><div class="actn-btn pull-right">
						CREATE CUSTOMER
						<img src="/images/Plus.png" class="pull-right">
					</div></a>
				</div>
				<div class="usr-srchbx col-md-4 col-lg-3 pull-right">
					<div class="form-title">SEARCH FOR USER</div>
						<div class="form-container" ng-keyup="$event.keyCode == 13 && findCustomers(search_by_firstname,search_by_lastname,search_by_email,search_by_phone)"> 
							<div class="form-group col-md-12 col-xs-6">
							  <label class="control-label">First Name</label class="control-label">
							  <input type="" name="" class="form-control" id="" ng-model="search_by_firstname">
						  </div>
							<div class="form-group col-md-12 col-xs-6">
							  <label class="control-label">Last Name</label class="control-label">
							  <input type="" name="" class="form-control" id="" ng-model="search_by_lastname">
						  </div>
							<div class="form-group col-md-12 col-xs-6">
							  <label class="control-label">Email</label class="control-label">
							  <input type="" name="" class="form-control" id="" ng-model="search_by_email">
						  </div>
              <div class="form-group col-md-12 col-xs-6">
							  <label class="control-label">Phone</label class="control-label">
							  <input type="" name="" class="form-control" id="" ng-model="search_by_phone">
						  </div>
						  <div class="form-group col-md-12">
							  <input type="submit" class="btn save-btn" value="SEARCH" ng-click="findCustomers(search_by_firstname,search_by_lastname,search_by_email,search_by_phone)">
							</div>
						</div>
					</div>
				<div class="col-md-8 col-lg-9 table-responsive">
					<table class="table cust-table" at-table at-list="custList" at-config="config">
						<thead></thead>
					  <tbody>
					    <tr>
					      <td at-implicit at-attribute="firstname" width="180px"></td>
					      <td at-implicit at-attribute="lastname" width="180px"></td>
					      <td at-implicit at-attribute="email" ></td>
					      <td at-implicit at-title="phone" at-attribute="phone_numbers[0].number" width="150px"></td>
					      <td at-title="ACTIONS" class="row-actn-btns"><a ng-href="#/customers/details/{{item.id}}"><span>view/edit</span></a></td>
					    </tr>
					  </tbody>
					</table>
					<span class="page-container"><span>Select Page:</span><span class="pages" ng-repeat="n in pagerange(1,customers.total_pages)" ng-click="gotopage($index+1)" ng-class="{active: isActive($index+1)}">{{n}}</span></span>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
