
		<div class="col-md-6 cust-detail-form form-left">
			<div class="form-title">
				<span class="badge">1</span>
				<span>CUSTOMER DETAILS</span>
			</div>
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label>First Name</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>

				<div class="form-group col-lg-6">
					<label>Last Name</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>

				<div class="form-group col-lg-6">
					<label>Email</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>

				<div class="form-group col-lg-6">
					<label>Spouse</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>

				<div class="form-group col-lg-6">
					<label>Phone number</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>

				<div class="col-sm-12">
					<label>Other business information</label>
					<textarea class="form-control textarea"></textarea>
				</div>

			</div>
		</div>
		<div class="col-md-6 form-right">
			<div class="container">
				<div class="row">
					<div class="col-md-12 bill-add-form ">
						<div class="form-title">
							<span class="badge">2</span>
							<span>BILLING ADDRESS</span>
						</div>
						<div class="form-container">
							<div class="form-group col-lg-6">
								<label>Address 1</label>
								<input type="" name="" class="form-control" id="" value="">
							</div>

							<div class="form-group col-lg-6">
								<label>Address 2</label>
								<input type="password" name="" class="form-control" id="" value="">
							</div>

							<div class="form-group col-lg-6">
								<label>City</label>
								<input type="password" name="" class="form-control" id="" value="">
							</div>

							<div class="form-group col-lg-6">
								<label>Zipcode</label>
								<input type="" name="" class="form-control" id="" value="">
							</div>

							<div class="form-group col-lg-6">
								<label>State</label>
								<input type="" name="" class="form-control" id="" value="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

