<div class="row">
	<div class="col-xs-12">
		<div flash-message="5000"></div>
	</div>
</div>

<div class="bg-container row" ng-show="!resetPassword">
	<div class="login-container col-xs-12 col-sm-10 col-md-6 col-lg-4 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
		<form name="loginForm" autocomplete="on" ng-submit="signUp()">
			<div class="login-box">
				<div class="logo-container">
					<img src="/images/logo.png" class="site-logo">
				</div>
				<div class="login-box_body">
					<loading-bar loading="loading"></loading-bar>
					<div class="form-group" ng-class="{ 'has-error': loginForm.email.$invalid }">
						<label>Email Address<sup>*</sup></label>
						<input type="email" name="email" class="form-control" ng-model="model.email" tabindex="1" required>
					</div>
					<div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid }">
						<label>Password<sup>*</sup></label>
						<input type="password" name="password" class="form-control" ng-model="model.password" tabindex="2" required>
					</div>
				</div>
				<p class="reset-password-link"><a ng-click="showResetForm()" href="#">Forgot password?</a></p>
				<button ng-disabled="loginForm.$invalid || loading" type="submit" class="btn btn-success pull-right" tabindex="3">Login</button>
			</div>
		</form>
	</div>
</div>

<!-- RESET PASSWORD -->
<div class="bg-container row" ng-show="resetPassword">
	<div class="login-container col-xs-12 col-sm-10 col-md-6 col-lg-4 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
		<form name="passwordReset" ng-submit="sendResetPassword()">
			<div class="login-box">
				<div class="logo-container">
					<img src="/images/logo.png" class="site-logo">
				</div>
				<div class="login-box_body">
					<loading-bar loading="loadingReset"></loading-bar>
					<div class="form-group" ng-class="{ 'has-error': passwordReset.resetemail.$invalid }">
						<label>Email Address<sup>*</sup></label>
						<input type="email" name="resetemail" required autocomplete="off" ng-model="model.resetemail" class="form-control">
					</div>
				</div>
				<p class="reset-password-link"><a ng-click="showLoginForm()" href="#">Login</a></p>
				<button ng-disabled="passwordReset.$invalid || loadingReset" type="submit" class="btn btn-success pull-right" tabindex="3">Reset password</button>
			</div>
		</form>
	</div>
</div>
