<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 recent-sites">
        <div class="front-box-wrapper">
          <div class="sub-container__header">
            <div class="heading">
              RECENT SITES
            </div>
          </div>
          <div class="sub-container__body">
            <ul class="site-list">
              <li ng-repeat="site in recent_sites.items">
                <a ui-sref="project.overview({projectId: site.id})">
                  <span class="site_title pull-left">{{site.name}}</span>
                  <span class="site_info pull-right">
                    {{site.address.address1}}, {{site.address.city}}, {{stateLookupById(site.address.state.id).abbreviation}},{{site.address.zipcode}}
                    <i class="glyphicon glyphicon-triangle-right"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="sub_container__footer">
            <a ui-sref="newcustomer"><button class="btn btn-success pull-right action-btn">CREATE CUSTOMER</button></a>
            <a ui-sref="newsite"><button class="btn btn-success pull-right action-btn">CREATE SITE</button></a> 
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 quick-links">
        <div class="front-box-wrapper">
          <div class="sub-container__body">
            <div class="info-header">QUICK LINKS</div>
            <div class="info-container">
              <ul class="links-list">
                <li>
                  <span class="link_title pull-left">
                    <img src="images/Search Icon.png">
                    <input type="text" class="form-control" placeholder="Search By Address" ng-model="address_address1_cont" aria-describedby="sizing-addon1" >
                    <a ng-href="#" ng-click="quickSearch('address_address1_cont')" class="quick-search">Search</a>
                    <i class="glyphicon glyphicon-triangle-right"></i>
                  </span>
                  <span class="site_info pull-right"></span>
                </li>
                <li>
                  <span class="link_title pull-left">
                    <img src="images/Search Icon.png">
                        <input type="text" class="form-control" placeholder="Search By Contact Name" ng-model="contact_name_contains" aria-describedby="sizing-addon1">
                    <a href="#" ng-click="quickSearch('contact_name_contains')" class="quick-search">Search</a>
                    <i class="glyphicon glyphicon-triangle-right"></i>
                  </span>
                  <span class="site_info pull-right"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pipeline-container">
  <div class="pipeline-content">
    <div class="pipe opp-pipe col-md-3 col-xs-6">
      <div class="pipe-title">
        OPPORTUNITY
        <span class="pipe-number">
          - {{opportunities.meta.count}}
        </span>
      </div>
      <div class="pipe-card-container" ui-sortable="sortableOptionsList[0]" id="opp-cards" ng-model="opportunities.items">
        <a ui-sref="newcustomer">
          <div class="pipe-card create-opp">
            <img src="/images/Write.png" alt="Write Icon">
            <span>Create opportunity</span>
          </div>
        </a>
        <div ng-repeat="opportunity in opportunities.items | orderBy:statusOrder" class="pipe-card status-{{opportunity.status | lowercase}}" id="site-{{opportunity.id}}">
          <a ui-sref="project.overview({projectId: opportunity.id})">
            <div class="pipe-info">
              <span class="info-title">
                {{opportunity.customer.firstname}} {{opportunity.customer.lastname}}
                <!--- Company Name-->
              </span>
              <span class="info-data">
                {{opportunity.address.address1}}<br />
                {{opportunity.address.city}},{{stateLookupById(opportunity.address.state.id).abbreviation}},{{opportunity.address.zipcode}}
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    <div class="pipe contract-pipe col-md-3 col-xs-6">
      <div class="pipe-title">
        UNDER CONTRACT
        <span class="pipe-number">
          - {{contracts.meta.count}}
        </span>
      </div>
      <div class="pipe-card-container" ui-sortable="sortableOptionsList[1]" id="con-cards" ng-model="contracts.items">
        <div class="pipe-card" ng-repeat="contract in contracts.items" id="site-{{contract.id}}">
          <a ui-sref="project.contract({projectId: contract.id})">
            <div class="pipe-info">
              <span class="info-title">{{contract.customer.firstname}} {{contract.customer.lastname}}
               </span>
              <span class="info-data">{{contract.address.address1}}<br>{{contract.address.city}},{{stateLookupById(contract.address.state.id).abbreviation}},{{contract.address.zipcode}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="pipe pro-pipe col-md-3 col-xs-6">
      <div class="pipe-title">
        PRODUCTION
        <span class="pipe-number">
          - {{productions.meta.count}}
        </span>
      </div>
      <div class="pipe-card-container" ui-sortable="sortableOptionsList[2]" id="pro-cards" ng-model="productions.sites">
        <div class="pipe-card" ng-repeat="production in productions.items" id="site-{{production.id}}">

          <a ui-sref="project.production({projectId: production.id})">
            <div class="pipe-info">
              <span class="info-title">{{production.customer.firstname}} {{production.customer.lastname}} - PO# {{production.po_number}}</span>
              <span class="info-data">{{production.address.address1}}<br>{{production.address.city}},{{stateLookupById(production.address.state.id).abbreviation}},{{production.address.zipcode}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="pipe post-pipe billing-pipe col-md-3 col-xs-6">
      <div class="pipe-title">
        BILLING
        <span class="pipe-number">
          - {{billings.meta.count}}
        </span>
      </div>
      <div class="pipe-card-container" ui-sortable="sortableOptionsList[3]" id="post-cards" ng-model="billings.sites" >
        <div class="pipe-card" ng-repeat="billing in billings.items" id="site-{{billing.id}}">
          <a ui-sref="project.billing({projectId: billing.id})">
            <div class="pipe-info">
              <span class="info-title">{{billing.customer.firstname}} {{billing.customer.lastname}}</span>
              <span class="info-data">PO# {{billing.po_number}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
