<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 recent-sites">
        <div class="front-box-wrapper">
          <div class="sub-container__header">
            <div class="info-header">
              RECENT SITES
              <div class="pull-right dropdown line-height-1">
                <a class="info-header-add-button" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="newcustomer">Customer</a></li>
                  <li><a ui-sref="newsite">Site</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="sub-container__body">
            <loading-bar loading="loadingRecent"></loading-bar>
            <ul class="site-list">
              <li ng-repeat="site in recent_sites.items">
                <a ui-sref="project.overview({projectId: site.id})">
                  <span class="site_title">{{ site.name ? site.name : site.customer.firstname + ' ' + site.customer.lastname }}</span>
                  <div class="site_info">
                    {{site.address.address1}}, {{site.address.city}}, {{stateLookupById(site.address.state.id).abbreviation}},{{site.address.zipcode}}
                    <i class="glyphicon glyphicon-triangle-right"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 quick-links">
        <div class="front-box-wrapper">
          <div class="sub-container__body">
            <div class="info-header">QUICK LINKS</div>
            <div class="info-container">
              <ul class="links-list">
                <li class="clearfix">
                  <span class="link_title pull-left">
                    <img src="images/Search Icon.png">
                    <input type="text" class="form-control" placeholder="Search By Address" ng-model="address_address1_cont" aria-describedby="sizing-addon1" >
                    <a ng-href="#" ng-click="quickSearch('address_address1_cont')" class="quick-search">Search</a>
                    <i class="glyphicon glyphicon-triangle-right"></i>
                  </span>
                  <span class="site_info pull-right"></span>
                </li>
                <li class="clearfix">
                  <span class="link_title pull-left">
                    <img src="images/Search Icon.png">
                        <input type="text" class="form-control" placeholder="Search By Contact Name" ng-model="contact_name_contains" aria-describedby="sizing-addon1">
                    <a href="#" ng-click="quickSearch('contact_name_contains')" class="quick-search">Search</a>
                    <i class="glyphicon glyphicon-triangle-right"></i>
                  </span>
                  <span class="site_info pull-right"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row card-list-container">
        <div class="col-sm-3 card-list" ng-repeat="column in columns" droppable="updateStage($model, column)" droppable-accepts="column.accepts">
            <div class="card-list-droppable-overlay"></div>
            <loading-bar loading="column.isLoading()"></loading-bar>
            <h4 class="card-list-title">
                {{ column.title }}
                <span class="card-list-count" ng-if="column.getModel().meta.recordCount">{{ column.getModel().meta.recordCount }}</span>
            </h4>
            <a class="card" ng-if="column.createSref" ui-sref="{{ column.createSref }}">
                <div class="card-content">
                    <i class="fa fa-plus"></i>
                    New {{ column.title }}
                </div>
            </a>
            <a ng-href="{{ column.itemUrl(item) }}" class="card" ng-repeat="item in column.getModel().items track by $index" draggable="{ item: item, previousColumn: column }" draggable-type="column.type">
                <loading-bar loading="item.loading"></loading-bar>
                <div class="card-content">
                    <h5>{{ item.customer.firstname }} {{ item.customer.lastname }} <span ng-if="item.poNumber" class="text-italic text-thin text-no-underline text-12">- PO# {{ item.poNumber }}</span></h5>
                    <p class="subtle text-no-underline">
                        {{ item.address.address1 }}<br/>
                        {{ item.address.city }}, {{ item.address.state }}, {{ item.address.zipcode }}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>