<div class="container customer-container">
  <div flash-message="5000"></div>
  
	<div class="customer-content row">
		<div class="col-xs-12 container-title">
			CUSTOMERS/<u>CREATE NEW CUSTOMER</u>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="cust-detail-form">
				<div class="form-title col-xs-12">
					<span class="badge">1</span>
					<span>step 1: ENTER CUSTOMER DETAILS</span>
				</div>	
				<div class="form-container col-xs-12">
					<div class="form-group col-sm-6" ng-class="{'has-error' : errors.firstname}">
						<label class="control-label" for="firstname">First Name<sup>*</sup></label>
						<input type="text" name="firstname" class="form-control" id="firstname" value="" ng-model="user.firstname">
					</div>
					
					<div class="form-group col-sm-6" ng-class="{'has-error' : errors.lastname}">
						<label class="control-label" for="lastname">Last Name<sup>*</sup></label>
						<input type="text" name="lastname" class="form-control" id="lastname" value="" ng-model="user.lastname">
					</div>
					
					<div class="form-group col-sm-6" ng-class="{'has-error' : errors.email}">
						<label class="control-label" for="email">Email</label>
						<input type="email" name="email" class="form-control"  id="email" value="" ng-model="user.email">
					</div>
									
					<div class="form-group col-sm-6">
						<label class="control-label" for="spouse">Spouse</label>
						<input type="text" name="spouse" class="form-control" id="spouse" value="" ng-model="user.spouse">
					</div>

					<div class="form-group col-sm-6">
						<label class="control-label" for="business_name">Business Name</label>
						<input type="text" name="business-name" class="form-control" id="business_name" value="" ng-model="user.business_name">
					</div>			
					
					<div class="form-group col-xs-12">
						<label class="control-label" for="other_business_info">Other business information</label>
						<textarea class="form-control textarea" name="other_business_info" id="other_business_info" ng-model="user.other_business_info"></textarea>
					</div>

					<div class="form-group col-xs-12" ng-class="{'has-error' : errors['base'] || errors['phone_numbers.number']}">
						<label class="control-label" for="phone_number">Phone number<sup>*</sup></label>
						<small class="text-danger help-block" ng-show="errors['base']">{{errors['base'][0]}}</small>
						<small class="text-danger help-block" ng-show="errors['phone_numbers.number']">Phone number {{errors['phone_numbers.number'][0]}}.</small>
						<hr>

						<fieldset data-ng-repeat="number in phone_number">
							<div class="form-group">
							  <div class="row">
							  	<div class="col-sm-4"><label class="control-label">Number<sup>*</sup></label></div>
							  	<div class="col-sm-8">
							  		<input type="tel" name="" class="form-control" value="" ng-model="number.number">
							  	</div>
							  </div>
							</div>

							<div class="form-group">
							  <div class="row">
							  	<div class="col-sm-4"><label class="control-label">Type<sup>*</sup></label></div>
							  	<div class="col-sm-8">
							  		<select name="" ng-model="number.type" class="form-control">
											<option value=""></option>
											<option value="1">Business</option>
											<option value="2">Home</option>
											<option value="3">Mobile</option>
											<option value="0">Other</option>
										</select>
							  	</div>
							  </div>
							</div>

							<div class="form-group">
								<label><input type="checkbox" name="" id="" ng-model="number.primary"> Primary</label>
							</div>

							<div class="form-group">
								<a class="pull-right link" ng-click="removePhone($index)" ng-show="number.newPhone">Remove Phone Number</a>
							</div>
							<div class="clearfix"></div>
							<hr>
						</fieldset>

						<div class="form-group">
							<button class="btn btn-small" ng-click="addPhone()">Add New Phone Number</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 save-form">
			<div class="form-title col-xs-12">
				<span class="badge">2</span>
				<span>step 2: SAVE</span>
			</div>
			<div class="form-container col-xs-12">
        <div class="form-group col-sm-6">
          <button class="btn save-btn btn-small" ng-click="newCustomerThenSite(user,phone_number)">SAVE AND CREATE SITE</button>
        </div>
        <div class="form-group col-sm-6">
          <a ng-click="newCustomer(user,phone_number)" class="link">Save customer only</a>
        </div>
			</div>
		</div>
	</div>
</div>	
