<div class="container site-container">
  	<div flash-message="5000" ></div>
	<div class="container site-content">
		<div class="row">
			<div class="col-md-12 container-title">
				SITES/<u>CREATE NEW SITE</u>
			</div>
		</div>
		<div class="row">
		<div class="form-left-container">
		<div class="col-md-6 site-info-form form-left">
			<div class="form-title">
				<span class="badge">1</span>
				<span>step 1: ENTER SITE INFORMATION</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Address 1<sup>*</sup></label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteAddress.address1">
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Address 2</label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteAddress.address2">
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">City<sup>*</sup></label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteAddress.city">
				</div>
								
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors['address.state']}">
					<label class="control-label">State<sup>*</sup></label>
					<select type="" name="" class="form-control" id="" value="" ng-model="siteAddress.state_id" >
						<option ng-repeat="state in state_abb" value="{{$index+1}}">{{state}}</option>
					</select>
				</div>
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Zip<sup>*</sup></label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteAddress.zipcode">
				</div>
			
			</div>
		</div>
		<div class="col-md-6 site-detail-form form-left">
			<div class="form-title">
				<span class="badge">2</span>
				<span>step 2: ENTER SITE DETAILS</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Site Name</label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteDetail.name" >
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Managers</label>
					<input type="text" class="form-control" ng-model="managersSelected" typeahead="manager as manager.email for manager in managersArray.users | filter:$viewValue" typeahead-on-select="addManager($item, $model, $label)" >
					<div>
						<p class="selected-manager" ng-repeat="manager in managers">
							<span class="manager-email">{{ manager.email }}</span>
							<span class="glyphicon glyphicon-remove-circle remove" aria-hidden="true" ng-click="removeManager(manager.id)"></span>
						</p>
					</div>
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label>Site Contact Name</label>
					<input type="email" name="" class="form-control" id="" value="" ng-model="siteDetail.contact_name">
				</div>
								
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Site Contact Phone</label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteDetail.contact_phone">
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Source</label>
					<select type="" name="" class="form-control" id="" value="" ng-model="siteDetail.source">
						<option ng-repeat="source in siteSource" value="{{$index+1}}">{{source}}</option>
					</select>
				</div>

				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Source Info</label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteDetail.source_info">
				</div>

				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Damage</label>
					<input type="" name="" class="form-control" id="" value="" ng-model="siteDetail.damage">
				</div>

				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Oppurtunity Priority</label>
					<select type="" name="" class="form-control" id="" value="" ng-model="siteDetail.status">
						<option value="1">Good</option>
						<option value="2">Bad</option>
						<option value="3">New</option>
						<option value="4">Dead</option>
					</select>
				</div>
			
			</div>
		</div>
	</div>
	<div class="col-md-6 bill-info-form form-right">
			<div class="form-title">
				<span class="badge">3</span>
				<span>step 3: ENTER BILLING INFORMATION</span>
				<span class="pull-right"><input type="checkbox" id="samebill" ng-model="billingIsSameAsSite" ><label for="samebill">Same as Site Address?</label></span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Address 1<sup>*</sup></label>
					<input type="" name="" class="form-control" id="" value="" ng-model="billAddress.address1"  ng-disabled="billingIsSameAsSite">
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Address 2</label>
					<input type="" name="" class="form-control" id="" value="" ng-model="billAddress.address2"  ng-disabled="billingIsSameAsSite">
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">City<sup>*</sup></label>
					<input type="" name="" class="form-control" id="" value="" ng-model="billAddress.city"  ng-disabled="billingIsSameAsSite">
				</div>
								
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors['bill_address.state']}">
					<label class="control-label">State<sup>*</sup></label>
					<select type="" name="" class="form-control" id="" value="" ng-model="billAddress.state_id"  ng-disabled="billingIsSameAsSite">
						<option ng-repeat="state in state_abb" value="{{$index+1}}">{{state}}</option>
					</select>
				</div>
				
				<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
					<label class="control-label">Zip<sup>*</sup></label>
					<input type="" name="" class="form-control" id="" value="" ng-model="billAddress.zipcode"  ng-disabled="billingIsSameAsSite">
				</div>
			</div>
		</div>
		<div class="col-md-6 search-customer-form form-right">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="form-title">
							<span class="badge">4</span>
							<span>step 4: Linked customer </span>
							
						</div>
						<div class="form-container">
              
							<!-- Customer info when already linked-->
							<div class="form-group col-lg-8" ng-show="customer">
								<span>Linked customer: {{customer.firstname + ' ' + customer.lastname }}
								</span> 
								<a class="btn" ng-show="!customer_from_previous_page_flag" ng-click="show_search_customer_dialog()"><i class="glyphicon glyphicon-search"></i> Select a different customer</a>
							</div>

							<!-- Searching for a customer to link -->
							<div class="form-group col-lg-8" ng-show="!customer">
								<a class="btn" ng-click="show_search_customer_dialog()"><i class="glyphicon glyphicon-search"></i> Search customer</a>
							</div>
							<div class="form-group col-lg-12">
								<input type="submit" class="btn save-btn" value="SAVE SITE" ng-click="newSite(siteAddress,siteDetail,billAddress)">
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
