<div class="col-md-12 container-title">
				LINDA HIGGINS(LEAD) /<u> VIEW PHOTOS</u>
			</div>
			<div class="col-md-12">
				<a ui-sref="overview.project_doc"><div class="doc-btns">
					<img src="/images/clip.png">
					<span>VIEW DOCUMENTS</span>
				</div>
				</a>
				<a ui-sref="overview.project_doc.photos"><div class="doc-btns active">
					<img src="/images/album.png">
					<span >VIEW PHOTOS</span>
				</div>
				</a>
			</div>
			<div class="col-md-12 actn-btn-container">
				<div class="actn-btn">
					Filter on stage
					<img src="/images/Forward.png" class="pull-right">
				</div>
				<div class="actn-btn">
					Batch actions
					<img src="/images/Forward.png" class="pull-right">
				</div>
				<div class="actn-btn pull-right">
					NEW PHOTOS
					<img src="/images/Plus.png" class="pull-right">
				</div>
			</div>
			<div class="col-md-12">
				<table class="table photo-table" at-table at-paginated at-list="photoList" at-config="config">
				  <thead>
				  </thead>
				  <tbody>
				    <tr>
				      <td at-attribute="stage"><span class="stg-btn">{{photoList[$index].stage}}</span></td>
				      <td at-attribute="thumbnail" width="160px"><img src='{{photoList[$index].thumbnail}}'</td>
				      <td at-implicit at-attribute="title" width="200px"></td>
				      <td at-title="Alt text" class="cell-center" width="100px"><img src="/images/notes.png"></td>
				      <td at-title="Notes" class="cell-center" width="100px"><img src="/images/notes.png"></td>
				      <td at-title="Actions" class="row-actn-btns"><span>view</span><span>edit</span><span>delete</span></td>
				      <td at-title="<input type='checkbox'></input>"><input type='checkbox'></input></td>
				    </tr>
				     
				  </tbody>
				</table>
				<span class="page-container"><span>Select Page:</span><at-pagination at-list="photoList" at-config="config"></at-pagination></span>
			</div>
		</div>