<div class="proj-over-container ">
  <div class="proj-over-content billing-form" ng-show="!enableProduction">
    <div class="row">
      <div class="col-md-12 container-title">
        <h3 class="not-available">Production not available until project enters the production stage</h3>
      </div>
    </div>
  </div>
	<div class="proj-over-content production-form" ng-show="enableProduction">
		<div class="row">
			<div class="col-md-12 container-title">
				<u>Production</u>
			</div>
		</div>
		<div class="col-md-6 col-sm-8">
		<form>
			<div class="form-left">
				<div class="form-title col-xs-12" id="production-section">
					<span>PRODUCTION INFO</span>
					<span class="edit-btn pull-right" ng-show="!editModeProduction" ng-click="enableEdition('Production')">
						<img src="/images/Write-white.png"/>
						EDIT
					</span>
					<span class="edit-btn pull-right" ng-show="editModeProduction" ng-click="saveProduction()">
						<img src="/images/Write-white.png"/>
						SAVE
					</span>
					<span class="edit-btn pull-right btn-warning" ng-show="editModeProduction" ng-click="discardChanges('Production')">
						<img src="/images/Write-white.png"/>
						CANCEL
					</span>
				</div>
				<input type="hidden" ng-model="production.id">
				<div class="form-container">
					<fieldset ng-disabled="!editModeProduction">
						<div class="form-group col-lg-6">
							<label>Project Received in Production at</label>
		          <p class="input-group date-picker">
		            <input class="form-control" ng-model="production.ready_for_production_at" datepicker-popup="{{format}}" is-open="opened.ready_for_production_at">
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'ready_for_production_at')"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		          </p>
						</div>

						<div class="form-group col-lg-6">
							<label>Production date</label>
		          <p class="input-group date-picker">
		            <input class="form-control" ng-model="production.production_date" datepicker-popup="{{format}}" is-open="opened.production_date">
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'production_date')"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		          </p>
						</div>

						<div class="form-group col-lg-6">
							<label>Material delivery date</label>
		          <p class="input-group date-picker">
		            <input class="form-control" id="" ng-model="production.delivery_date" datepicker-popup="{{format}}" is-open="opened.delivery_date">
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'delivery_date')"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		          </p>
						</div>

						<div class="form-group col-lg-6">
							<label>Paid till now</label>
							<div class="input-group">
                <div class="input-group-addon">$</div>
                <input class="form-control" ng-model="production.paid_till_now" ng-currency currency-symbol="">
              </div>
						</div>

						<div class="form-group col-lg-6">
							<label>Permit number</label>
							<input class="form-control" ng-model="production.permit_number">
						</div>
						<div class="form-group col-lg-6">
							<label>Permit date</label>
		          <p class="input-group date-picker">
		            <input class="form-control" ng-model="production.permit_date" datepicker-popup="{{format}}" is-open="opened.permit_date">
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'permit_date')"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		          </p>
						</div>

						<div class="form-group col-sm-12">
							<label>Permit Department</label>
							<input tye="text" class="form-control" ng-model="production.permit_department"></input>
						</div>

					</fieldset>
				</div>
			</div>
			<div class="form-left">
				<fieldset ng-disabled="!editModeCompletion">
					<div class="form-title col-xs-12" id="completion-section">
						<span>COMPLETION INFO</span>
						<span class="edit-btn pull-right" ng-show="!editModeCompletion" ng-click="enableEdition('Completion')">
							<img src="/images/Write-white.png"/>
							EDIT
						</span>
						<span class="edit-btn pull-right" ng-show="editModeCompletion" ng-click="saveProduction()">
							<img src="/images/Write-white.png"/>
							SAVE
						</span>
						<span class="edit-btn pull-right btn-warning" ng-show="editModeCompletion" ng-click="discardChanges('Completion')">
							<img src="/images/Write-white.png"/>
							CANCEL
						</span>
					</div>
					<div class="form-container">
						<div class="form-group col-lg-6">
							<label>Roof completion date</label>
		          <p class="input-group date-picker">
		            <input class="form-control" ng-model="production.roof_built_date" datepicker-popup="{{format}}" is-open="opened.roof_built_date">
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'roof_built_date')"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		          </p>
						</div>

						<div class="form-group col-lg-6">
							<label>Production inspection date</label>
		          <p class="input-group date-picker">
		            <input class="form-control" ng-model="production.production_inspection_date" datepicker-popup="{{format}}" is-open="opened.production_inspection_date">
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'production_inspection_date')"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		          </p>
						</div>

						<div class="form-group col-lg-6">
							<label>Production inspection passed date</label>
		          <p class="input-group date-picker">
		            <input class="form-control" ng-model="production.production_inspection_passed_date" datepicker-popup="{{format}}" is-open="opened.production_inspection_passed_date">
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'production_inspection_passed_date')"><i class="glyphicon glyphicon-calendar"></i></button>
		            </span>
		          </p>
						</div>
						<div class="form-group col-lg-12">
							<label>Materials not used</label>

							<textarea rows="5" name="materials_not_used" class="form-control" ng-model="production.materials_not_used"></textarea>

						</div>
					</div>
				</fieldset>
			</div>
		</form>
	</div>
</div>
