<div class="container proj-over-container">
  <div class="proj-over-content billing-form" ng-show="!enableProjectDetails">
    <div class="row">
      <div class="col-md-12 container-title">
        <h3 class="not-available">Project details not available, must upload contract</h3>
      </div>
    </div>
  </div>
	<div class="proj-over-content project-details-form" ng-show="enableProjectDetails">
		<div class="row">
			<div class="col-md-12 container-title">
				<u>PROJECT DETAILS</u>
			</div>
		</div>

		<div class="row">
			<div class="form-left-container">
			<div class="col-md-6 form-left">
				<div class="form-title" id="project-section">
					<span> PROJECT </span>
					<span class="edit-btn pull-right" ng-show="!project.edition_enabled" ng-click="enable_project_edition()">
						<img src="/images/Write-white.png"/>
						EDIT
					</span>
					<span class="edit-btn pull-right" ng-show="project.edition_enabled" ng-click="save_project()">
						<img src="/images/Write-white.png"/>
						SAVE
					</span>
					<span class="edit-btn pull-right btn-warning" ng-show="project.edition_enabled" ng-click="cancel_project_edition()">
						<img src="/images/Write-white.png"/>
						CANCEL
					</span>

					
				</div>

				<form name="project_form">

					<div class="form-container">
						<fieldset ng-disabled="!project.edition_enabled">
							<div class="form-group col-lg-6" ng-class="{'has-error' : errors.po_number}">
								<label class="control-label">PO Number {{errors.po_number}}</label>
								<div class="input-group">
									<input type="text" name="po_number" class="form-control" ng-model="project.po_number" disabled>
								</div>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors.po_legacy}">
								<label class="control-label">Legacy PO Number {{errors.po_legacy}}</label>
								<div class="input-group">
									<input type="text" name="po_legacy" class="form-control" ng-model="project.po_legacy">
								</div>
							</div>

							<div class="form-group col-lg-12" ng-class="{'has-error' : errors.existing_roof_material}">
								<label class="control-label">Existing Roof Material {{errors.existing_roof_material}}</label>
								<textarea rows="5" class="form-control" ng-model="project.existing_roof_material"></textarea>
							
							</div>

							<div class="form-group col-lg-12" ng-class="{'has-error' : errors.code_coverage_confirmed}">
								<label class="control-label">Code coverage confirmed {{errors.code_coverage_confirmed}}</label>
								<div class="input-group">
									<input type="checkbox" name="code_coverage_confirmed" id="" ng-model="project.code_coverage_confirmed" >
								</div>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors.hoa_approval_date}">
								<label class="control-label">Hoa Approval date {{errors.hoa_approval_date}}</label>
								<p class="input-group date-picker">

									<input type="date" name="hoa_approval_date" class="form-control" datepicker-popup="" ng-model="project.hoa_approval_date" is-open="$parent.opened" ng-required="true" close-text="Close" />
									<span class="input-group-btn">
						              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						            </span>
								</p>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors.last_roof_built_date}">
								<label class="control-label">Roof built date {{errors.last_roof_built_date}}</label>
								<p class="input-group date-picker">
									<input type="date" name="last_roof_built_date" class="form-control" datepicker-popup="" ng-model="project.last_roof_built_date" is-open="$parent.opened" ng-required="true" close-text="Close" />
									<span class="input-group-btn">
						              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						            </span>
								</p>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors.priority}">
								<label class="control-label">Priority {{errors.priority}}</label>
								<select name="priority" ng-model="project.priority" convert-to-number class="form-control">
						  				<option ng-repeat="priority in priorities_arr" value="{{$index+1}}" ng-selected="$index+1==project.priority">{{priority}}</option>
								</select>
							</div>
						</fieldset>
					</div>
				</form>
			</div>



			<div class="col-md-6 form-left">
				<div class="form-title" id="insurance-section">
					<span> INSURANCE AND MORTGAGE INFO </span>
					
					<span class="edit-btn pull-right" ng-show="!insurance_and_mortgage_info.edition_enabled" ng-click="enable_insurance_and_mortgage_info_edition()">
						<img src="/images/Write-white.png"/>
						EDIT
					</span>
					<span class="edit-btn pull-right" ng-show="insurance_and_mortgage_info.edition_enabled" ng-click="save_insurance_and_mortgage_info()">
						<img src="/images/Write-white.png"/>
						SAVE
					</span>
					<span class="edit-btn pull-right btn-warning" ng-show="insurance_and_mortgage_info.edition_enabled" ng-click="cancel_insurance_and_mortgage_info_edition()">
						<img src="/images/Write-white.png"/>
						CANCEL
					</span>

				</div>

				<div class="form-container">
					<fieldset ng-disabled="!insurance_and_mortgage_info.edition_enabled">
						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['insurance_and_mortgage_info.insurance_carrier']}">
							<label class="control-label">PO Number {{errors['insurance_and_mortgage_info.insurance_carrier']}}</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="insurance_and_mortgage_info.insurance_carrier">
							</div>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['insurance_and_mortgage_info.claim_number']}">
							<label class="control-label">Claim number {{errors['insurance_and_mortgage_info.claim_number']}}</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="insurance_and_mortgage_info.claim_number">
							</div>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['insurance_and_mortgage_info.loan_tracking_number']}">
							<label class="control-label">Loan Tracking Number {{errors['insurance_and_mortgage_info.loan_tracking_number']}}</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="insurance_and_mortgage_info.loan_tracking_number">
							</div>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['insurance_and_mortgage_info.mortgage_company']}">
							<label class="control-label">Mortgage Company {{errors['insurance_and_mortgage_info.mortgage_company']}}</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="insurance_and_mortgage_info.mortgage_company">
							</div>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['insurance_and_mortgage_info.deductible']}">
							<label class="control-label">Deductible {{errors['insurance_and_mortgage_info.deductible'][0]}}</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input type="number" class="form-control" ng-model="insurance_and_mortgage_info.deductible">
							</div>
						</div>

						
					</fieldset>
				</div>
			</div>

		
			<div class="col-md-6 form-left">
				<div class="form-title" id="project-job">
					<span> JOB SUBMISSION </span>
					<span class="edit-btn pull-right" ng-show="!job_submission.edition_enabled" ng-click="enable_job_submission_edition()">
						<img src="/images/Write-white.png"/>
						EDIT
					</span>
					<span class="edit-btn pull-right" ng-show="job_submission.edition_enabled" ng-click="save_job_submission()">
						<img src="/images/Write-white.png"/>
						SAVE
					</span>
					<span class="edit-btn pull-right btn-warning" ng-show="job_submission.edition_enabled" ng-click="cancel_job_submission_edition()">
						<img src="/images/Write-white.png"/>
						CANCEL
					</span>

				</div>

				<div class="form-container">
					<fieldset ng-disabled="!job_submission.edition_enabled">
						
						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.shingle_manufacturer']}">
							<label class="control-label">Shingle Manufacturer {{errors['job_submission.shingle_manufacturer']}}</label>
							<select name="shingle_manufacturer" ng-model="job_submission.shingle_manufacturer" convert-to-number class="form-control">
				  				<option ng-repeat="manufacturer in manufacturers_arr" value="{{manufacturer.id}}" ng-selected="job_submission.shingle_manufacturer==manufacturer.id">{{manufacturer.name}}</option>
							</select>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.shingle_type']}">
							<label class="control-label">Shingle Type {{errors['job_submission.shingle_type']}}</label>
							<select name="shingle_type" ng-model="job_submission.shingle_type" convert-to-number class="form-control">
				  				<option ng-repeat="shingle in shingles_arr | filter:{manufacturerId: job_submission.shingle_manufacturer }:strict" value="{{shingle.id}}" ng-selected="job_submission.shingle_type==shingle.id">{{shingle.title}}</option>
							</select>
						</div>

						
						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.shingle_color']}">
							<label class="control-label">Shingle Color {{errors['job_submission.shingle_color']}}</label>
							<select name="" ng-model="job_submission.shingle_color" convert-to-number class="form-control">
								<option ng-repeat="colorId in shingles_arr[job_submission.shingle_type-1].colorsId" value="{{colorId}}" ng-selected="colorId==job_submission.shingle_color">{{colors_arr[colorId-1].name}}</option>
							</select>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.drip_color']}">
							<label class="control-label">Drip Color {{errors['job_submission.drip_color']}}</label>
							<select name="" ng-model="job_submission.drip_color" convert-to-number class="form-control">
					  				<option ng-repeat="color in colors_arr" value="{{color.id}}" ng-selected="color.id==job_submission.drip_color">{{color.name}}</option>
							</select>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.work_type']}">
							<label class="control-label">Type Of Work To Be Completed {{errors['job_submission.work_type']}}</label>
							<input type="text" class="form-control" ng-model="job_submission.work_type">
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.roof_work_rcv']}">
							<label class="control-label">Roof Work Rcv {{errors['job_submission.roof_work_rcv']}}</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input type="number" class="form-control" ng-model="job_submission.roof_work_rcv">
							</div>
						</div>


						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.roof_work_acv']}">
							<label class="control-label">Roof Work Acv {{errors['job_submission.roof_work_acv']}}</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input type="number" class="form-control" ng-model="job_submission.roof_work_acv">
							</div>
						</div>
						
						<div class="form-group col-lg-12" ng-class="{'has-error' : errors['job_submission.roof_type_special_instructions']}">
							<label class="control-label">Roof Type Special Instructions {{errors['job_submission.roof_type_special_instructions']}}</label>
							<textarea rows="5" class="form-control" ng-model="job_submission.roof_type_special_instructions"></textarea>
						</div>

						<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.initial_cost_per_sq']}">
							<label class="control-label">Initial Cost Per Sq {{errors['job_submission.initial_cost_per_sq']}}</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input type="number" class="form-control" ng-model="job_submission.initial_cost_per_sq">
							</div>
						</div>

						<div class="form-group col-sm-12" ng-class="{'has-error' : errors['job_submission.job_submission.redeck']}">
							<label class="control-label">Redeck {{errors['job_submission.job_submission.redeck']}}</label>
							<div class="input-group">
								<input type="checkbox" name="" id="" ng-model="job_submission.redeck" >
							</div>
						</div>
					</fieldset>
					<div class="form-container col-lg-6 well">
						<div class="form-title" id="project-roof">
							<span> ROOF DETAILS </span>
						</div>
						<fieldset ng-disabled="!job_submission.edition_enabled">
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.roof_upgrade_cost']}">
									<label class="control-label">Roof Upgrade Cost {{errors['job_submission.roof_upgrade_cost']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.roof_upgrade_cost">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.roof_discount']}">
									<label class="control-label">Roof Discount {{errors['job_submission.roof_discount']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.roof_discount">
									</div>
								</div>
							</div>

						</fieldset>
					</div>

					<div class="form-container col-lg-6 well">
						<div class="form-title" id="project-gutter">
							<span> GUTTER DETAILS </span>
						</div>
						<fieldset ng-disabled="!job_submission.edition_enabled">
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.gutters_rcv']}">
									<label class="control-label">Gutters Rcv {{errors['job_submission.gutters_rcv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.gutters_rcv">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.gutters_acv']}">
									<label class="control-label">Gutters Acv {{errors['job_submission.gutters_acv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.gutters_acv">
									</div>
								</div>
							</div>
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.gutters_upgrade_cost']}">
									<label class="control-label">Gutters Upgrade Cost {{errors['job_submission.gutters_upgrade_cost']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.gutters_upgrade_cost">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.gutters_discount']}">
									<label class="control-label">Gutters Discount {{errors['job_submission.gutters_discount']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.gutters_discount">
									</div>
								</div>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.gutters_total']}">
								<label class="control-label">Gutters Total {{errors['job_submission.gutters_total']}}</label>
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input type="number" class="form-control" ng-model="job_submission.gutters_total">
								</div>
							</div>

						</fieldset>
					</div>


					<div class="form-container col-lg-6 well">
						<div class="form-title" id="project-siding">
							<span> SIDING DETAILS </span>
						</div>
						<fieldset ng-disabled="!job_submission.edition_enabled">
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.siding_rcv']}">
									<label class="control-label">Siding Rcv {{errors['job_submission.siding_rcv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.siding_rcv">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.siding_acv']}">
									<label class="control-label">Siding Acv {{errors['job_submission.siding_acv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.siding_acv">
									</div>
								</div>
							</div>
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.siding_upgrade_cost']}">
									<label class="control-label">Siding Upgrade Cost {{errors['job_submission.siding_upgrade_cost']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.siding_upgrade_cost">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.siding_discount']}">
									<label class="control-label">Siding Discount {{errors['job_submission.siding_discount']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.siding_discount">
									</div>
								</div>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.siding_total']}">
								<label class="control-label">Siding Total {{errors['job_submission.siding_total']}}</label>
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input type="number" class="form-control" ng-model="job_submission.siding_total">
								</div>
							</div>

						</fieldset>
					</div>


					<div class="form-container col-lg-6 well">
						<div class="form-title" id="project-window">
							<span> WINDOW DETAILS </span>
						</div>
						<fieldset ng-disabled="!job_submission.edition_enabled">
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.windows_rcv']}">
									<label class="control-label">Windows Rcv {{errors['job_submission.windows_rcv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.windows_rcv">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.windows_acv']}">
									<label class="control-label">Windows Acv {{errors['job_submission.windows_acv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.windows_acv">
									</div>
								</div>
							</div>
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.windows_upgrade_cost']}">
									<label class="control-label">Windows Upgrade Cost {{errors['job_submission.windows_upgrade_cost']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.windows_upgrade_cost">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.windows_discount']}">
									<label class="control-label">Windows Discount {{errors['job_submission.windows_discount']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.windows_discount">
									</div>
								</div>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.windows_total']}">
								<label class="control-label">Windows Total {{errors['job_submission.windows_total']}}</label>
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input type="number" class="form-control" ng-model="job_submission.windows_total">
								</div>
							</div>

						</fieldset>
					</div>

					<div class="form-container col-lg-6 well">
						<div class="form-title" id="project-paint">
							<span> PAINT DETAILS </span>
						</div>
						<fieldset ng-disabled="!job_submission.edition_enabled">
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.paint_rcv']}">
									<label class="control-label">Paint Rcv {{errors['job_submission.paint_rcv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.paint_rcv">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.paint_acv']}">
									<label class="control-label">Paint Acv {{errors['job_submission.paint_acv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.paint_acv">
									</div>
								</div>
							</div>
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.paint_upgrade_cost']}">
									<label class="control-label">Paint Upgrade Cost {{errors['job_submission.paint_upgrade_cost']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.paint_upgrade_cost">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.paint_discount']}">
									<label class="control-label">Paint Discount {{errors['job_submission.paint_discount']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.paint_discount">
									</div>
								</div>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.paint_total']}">
								<label class="control-label">Paint Total {{errors['job_submission.paint_total']}}</label>
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input type="number" class="form-control" ng-model="job_submission.paint_total">
								</div>
							</div>

						</fieldset>
					</div>

					<div class="form-container col-lg-6 well">
						<div class="form-title" id="project-hvac">
							<span> HVAC DETAILS </span>
						</div>
						<fieldset ng-disabled="!job_submission.edition_enabled">
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.hvac_rcv']}">
									<label class="control-label">Hvac Rcv {{errors['job_submission.hvac_rcv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.hvac_rcv">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.hvac_acv']}">
									<label class="control-label">Hvac Acv {{errors['job_submission.hvac_acv']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.hvac_acv">
									</div>
								</div>
							</div>
							<div class="row col-lg-12">

								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.hvac_upgrade_cost']}">
									<label class="control-label">Hvac Upgrade Cost {{errors['job_submission.hvac_upgrade_cost']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.hvac_upgrade_cost">
									</div>
								</div>


								<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.hvac_discount']}">
									<label class="control-label">Hvac Discount {{errors['job_submission.hvac_discount']}}</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input type="number" class="form-control" ng-model="job_submission.hvac_discount">
									</div>
								</div>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors['job_submission.hvac_total']}">
								<label class="control-label">Hvac Total {{errors['job_submission.hvac_total']}}</label>
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input type="number" class="form-control" ng-model="job_submission.hvac_total">
								</div>
							</div>

						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>  
