<div class="container proj-over-container">
	<div class="proj-over-content">
		<div class="row">
			<div class="col-md-12 container-title">
				CUSTOMERS /<u> CREATE NEW CUSTOMER</u>
			</div>
			<div class="col-md-12 container-note">
				<span class="note">
					<img src="/images/pin.png">
					Note: There's currently no contract signed. Fill out the fields below.
				</span>
			</div>
			<div class="col-md-12 container-head">
				<span class="head">
					ADD CONTRACT
				</span>
			</div>
		</div>
		<div class="row">
		<div class="col-md-6 contract-detail-form form-left">
			<div class="form-title">
				<span class="badge">1</span>
				<span>step 1: CONTRACT DETAILS</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label>Document<sup>*</sup></label>
					<div class="attachment">
					<label for="upload">
						<img src="/images/clip.png">
						<span>ADD ATTACHMENT</span>
					</label>
					<input type="file" id="upload" class="form-control" id="" value="">
					</div>
				</div>
				
				<div class="form-group col-lg-6">
					<label>Signed at<sup>*</sup></label>
					<input type="" name="" class="form-control" id="" >
				</div>
				<div class="form-group col-sm-12">
					<label>Notes</label>
					<textarea class="form-control textarea"></textarea>
				</div>
			
			</div>
		</div>
		<div class="col-md-6 form-right">
			<div class="container">
				<div class="row">
					<div class="col-md-12 contract-sign-form">
						<div class="form-title">
							<span class="badge">2</span>
							<span>step 2: CONTRACT SIGNATURES</span>
						</div>
						<div class="form-container">
							<div class="form-group col-lg-6">
								<label>Type of contract</label>
								<input type="" name="" class="form-control" id="" >
							</div>
							<div class="form-group col-lg-6">
								<label>Type of work to be completed</label>
								<input type="" name="" class="form-control" id="" >
							</div>
							<div class="form-group col-lg-6">
								<label>Price</label>
								<input type="" name="" class="form-control" id="" >
							</div>
							<div class="form-group col-lg-6">
								<label>Special Instructions</label>
								<input type="" name="" class="form-control" id="" >
							</div>
						</div>
					</div>
					<div class="col-md-12 save-form " style="margin-top:20px;">
						<div class="form-title">
							<span class="badge">3</span>
							<span>step 3: SAVE </span>
							
						</div>
						<div class="form-container">
							<div class="form-group col-lg-12">
								<span>When you’re done - click the save button below.</span>
								<input type="submit" class="btn save-btn" value="SAVE CONTRACT">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>  
