<div class="container proj-doc-container">
	<div class="proj-doc-content">
		<div class="row" ui-view>
			<div class="col-md-12 container-title">
				{{customer_title}} / <u>VIEW PHOTOS</u>
			</div>
			<div class="col-md-12">
				<a ui-sref="overview.project_doc"><div class="doc-btns">
					<img src="/images/clip.png">
					<span>VIEW DOCUMENTS</span>
				</div>
				</a>
				<a ui-sref="overview.project_doc.photos"><div class="doc-btns active">
					<img src="/images/album.png">
					<span>VIEW PHOTOS</span>
				</div>
				</a>
			</div>
			<!-- <div class="col-md-12 actn-btn-container">
				<div class="actn-btn">
					Filter on doc type
					<img src="/images/Forward.png" class="pull-right">
				</div>
				<div class="actn-btn">
					Batch actions
					<img src="/images/Forward.png" class="pull-right">
				</div>
				<div class="actn-btn pull-right">
					NEW DOCUMENT 
					<img src="/images/Plus.png" class="pull-right">
				</div>
			</div> -->
			<div class="col-xs-12">
				<ng-upload-form url="/" ng-model="documents"></ng-upload-form>
			</div>
			<div class="col-md-12">
				<table class="table doc-table" at-table at-paginated at-list="images.images" at-config="config">
				  <thead>
				  </thead>
				  <tbody>
				    <tr>
				      <td at-title="Doc type" at-attribute="doc_type"><span class="stg-btn">{{dimages.images[$index].stage}}</span></td>
				      <td at-implicit at-attribute="doc_name" at-title="Document name" width="400px">{{images.images[$index].title}}</td>
				      <td at-title="Actions" class="row-actn-btns"><span>download</span></td>
				      <td at-title="<input type='checkbox'></input>"><input type='checkbox'></input></td>
				    </tr>
				     
				  </tbody>
				</table>
				<span class="page-container"><span>Select Page:</span><at-pagination at-list="docList" at-config="config"></at-pagination></span>
			</div>
		</div>
	</div>
</div>  
