<div class="sidebar">
	<ul class="sidebar-menu">
		<li class="item">
			<a ui-sref="project.overview({projectId: project_id})">
				<img src="/images/overview-browser.png" alt="Overview Browser Icon">
				<span class="title">OVERVIEW</span>
			</a>
		</li>
		<li class="item">
			<a ui-sref="project.documents({projectId: project_id})">
				<img src="/images/overview-documents.png" alt="Overview Documets Icon">
				<span class="title">DOCUMENTS</span>
			</a>
		</li>
		<li class="item">
			<a ui-sref="project.appointments({projectId: project_id})">
				<img src="/images/overview-browser.png" alt="Overview Appointments Icon">
				<span class="title">APPOINTMENTS</span>
			</a>
		</li>
		<li class="item">
			<a ui-sref="project.contract({projectId: project_id})">
				<img src="/images/overview-folder.png" alt="Overview Folder Icon">
				<span class="title">CONTRACT</span>
			</a>
		</li>
		<li class="item" ng-class="{'locked': !enableProjectDetails}">
			<a ui-sref="project.project_details({projectId: project_id})">
				<img src="/images/overview-box.png">
				<span class="title">PROJECT DETAILS</span>
				<img class="lock-image" src="/images/lock.png" ng-show="!enableProjectDetails">
			</a>
		</li>
		<li class="item" ng-class="{'locked': !enableProduction}">
			<a ui-sref="project.production({projectId: project_id, productionId: production.id})">
				<img src="/images/overview-home.png" alt="Overview Home Icon">
				<span class="title">PRODUCTION</span>
				<img class="lock-image" src="/images/lock.png" ng-show="!enableProduction">
			</a>
		</li>
		<li class="item" ng-class="{'locked': !enableBilling}">
			<a ui-sref="project.billing({projectId: project_id})">
				<img src="/images/overview-billing.png" alt="Overview Billing Icon">
				<span class="title">BILLING</span>
				<img class="lock-image" src="/images/lock.png" ng-show="!enableBilling">
			</a>
		</li>
	</ul>
</div>
<div class="overview-content">
	<div flash-message="5000"></div>
  <div class="col-md-6 col-xs-12 overview-header">
   <div class="col-xs-12">
      <h3 class="title">PROJECT CORE INFO</h3>
      <p><span>SITE NAME:</span> {{site.name}}</p>
      <p><span>CUSTOMER:</span> {{site.customer.firstname}} {{site.customer.lastname}}, {{site.customer.business_name}}</p>
      <p><span>ADDRESS:</span> {{site.address.address1}}, {{site.address.city}} {{site.address.state.name}}, {{site.address.zipcode}}</p>
      <p><span>PO:</span> {{site.po_number}}</p>
      <p ng-show="!editStageMode"><span>STAGE:</span> <b class="text-uppercase">{{site.stage}}</b> <button ng-click="enableStageEdition()">Edit</button></p>
      <p ng-show="editStageMode"><span>STAGE:</span> 
				<select name="" ng-options="item.value as item.label for item in stagesList" ng-model="site.stage" ng-change="updateStage()" class="form-control"></select>
      </p>
      <p>
    		<span class="col-md-3">MANAGERS:</span>
    		<div class="col-md-3">
	        <p ng-repeat="manager in site.managers">
	        	{{manager.email}}
	    		</p>
    		</div>
    	</p>
    </div>
  </div>
	<div ui-view="overview-content-view"></div>
</div>
