<div class="container proj-over-container overview-appointments">
  <div flash-message="5000"></div>
  
	<div class="proj-over-content">
		<div class="row">
			<div class="col-md-12 container-title">
				<u>APPOINTMENTS</u>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 container-note" ng-show="project.appointments.length==0">
				<span class="note">
					
					Note: There are currently no appointments defined.
				</span>
			</div>
			
			<div class="col-md-12 actn-btn-container">
				<div class="actn-btn" ng-click="add_appointment(project)">
					ADD APPOINTMENT
					<img src="/images/Plus.png" class="pull-right">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-left-container">
		    <div class="col-md-6 form-left overview-header">
		      <div class="row">
		        <div class="col-md-12">
		          <h3 class="title">PROJECT CORE INFO</h3>
		          <p><span>SITE:</span> {{project.name}}</p>
		          <p><span>ADRESS:</span> {{project.address.address1}}, {{project.address.city}} {{project.address.state.name}}, {{project.address.zipcode}}</p>
		          <p><span>PO:</span> {{project.po_number}}</p>
		          <p><span>STAGE:</span> <b class="text-uppercase">{{project.stage}}</b></p>
		        </div>
		      </div>
		    </div>

				<div class="col-md-6 contract-detail-form form-left" ng-repeat="appointment in project.appointments">
					<div class="form-title">
						<span> APPOINTMENT </span>
						<span class="label label-warning" ng-show="appointment.isNew">NEW</span>
						<div class="pull-right" ng-show="!appointment.edition_enabled">
							<button type="button" class="btn btn-xs btn-success" aria-label="Left Align"  ng-click="enable_appointment_edition(appointment)">
			  					<span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
							</button>
							<button type="button" class="btn btn-xs btn-danger" aria-label="Left Align"  ng-click="delete_appointment(appointment,$index)">
			  					<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> REMOVE
							</button>
						</div>

						<div class="pull-right" ng-show="appointment.edition_enabled">
							<button type="button" class="btn btn-xs btn-success" aria-label="Left Align"  ng-click="save_appointment(appointment,$index)">
			  					<span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span> SAVE
							</button>

							<button type="button" class="btn btn-xs btn-warning" aria-label="Left Align" ng-click="cancel_appointment_edition(appointment,$index)">
			  					<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> CANCEL
							</button>

						</div>
					</div>

					<div class="form-container">
						<fieldset ng-disabled="!appointment.edition_enabled">
							<div class="form-group col-lg-12" ng-class="{'has-error' : contractErrors.signed_at[0]}">
								<label class="control-label">Scheduled at<sup>*</sup> {{contractErrors.signed_at[0]}}</label>
								<div class="form-inline" ng-show="appointment.edition_enabled">
									<div class="input-group col-xs-2">
										<input type="date" class="form-control" datepicker-popup="" ng-model="appointment.scheduled_at" is-open="$parent.opened" ng-required="true" close-text="Close" />
										<span class="input-group-btn">
							              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							            </span>
									</div>
									<div class="input-group col-xs-2">
										<timepicker ng-model="appointment.scheduled_at" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
									</div>
								</div>

								<div class="input-group col-lg-9" ng-hide="appointment.edition_enabled">
									<input type="text" class="form-control" ng-model="appointment.scheduled_at">
								</div>

							</div>
							
							<div class="form-group col-lg-6" ng-class="{'has-error' : contractErrors.signed_at[0]}">
								<label class="control-label">Outcome<sup>*</sup></label>
											  	
						  		<select name="" ng-model="appointment.outcome" convert-to-number class="form-control">
						  				<option ng-repeat="outcome in outcomes_arr" value="{{$index+1}}" ng-selected="$index+1==appointment.outcome">{{outcome}}</option>
								</select>
							</div>
							<div class="form-group col-sm-12">
								<label class="control-label">Notes</label>
								<textarea class="form-control textarea" ng-model="appointment.notes"></textarea>
							</div>

							<div class="form-group col-lg-6" ng-class="{'has-error' : errors.user}">
								<label class="control-label">Assigned to</label>
								<input type="text" class="form-control" ng-model="appointment.assigned_to" typeahead="manager as manager.email for manager in managersArray.users | filter:$viewValue">
							</div>

							<div class="col-md-12 actn-btn-container" ng-hide="appointment.isNew">
								<div class="actn-btn" ng-click="add_followup(appointment)">
									ADD FOLLOWUP
									<img src="/images/Plus.png" class="pull-right">
								</div>
							</div>


						</fieldset>
						<hr>
						<div class="form-container col-lg-6 well" ng-repeat="followup in appointment.follow_ups">
							<div class="form-title">
								<span> FOLLOW UP </span>
								<span class="label label-warning" ng-show="followup.isNew">NEW</span>
								<div class="pull-right" ng-show="!followup.edition_enabled">
									<button type="button" class="btn btn-xs btn-success" aria-label="Left Align"  ng-click="enable_followup_edition(followup)">
					  					<span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
									</button>
									<button type="button" class="btn btn-xs btn-danger" aria-label="Left Align"  ng-click="remove_followup(appointment,followup,$parent.$index)">
				  					<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> REMOVE
								</button>
								</div>

								<div class="pull-right" ng-show="followup.edition_enabled">
									<button type="button" class="btn btn-xs btn-success" aria-label="Left Align"  ng-click="save_followup(appointment,followup,$parent.$index)">
					  					<span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span> SAVE
									</button>

									<button type="button" class="btn btn-xs btn-warning" aria-label="Left Align" ng-click="cancel_followup_edition(appointment,followup,$index)">
					  					<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> CANCEL
									</button>

								</div>
							</div>
							<fieldset ng-disabled="!followup.edition_enabled">
								<div class="form-group col-sm-12">
									<div class="input-group ">
										
										<label class="control-label">Scheduled at<sup>*</sup> {{errors.signed_at[0]}}</label>
										<div class="form-inline" ng-show="followup.edition_enabled">
											<div class="input-group col-xs-2">
												<input type="date" class="form-control" datepicker-popup="" ng-model="followup.scheduled_at" is-open="$parent.opened" ng-required="true" close-text="Close" />
												<span class="input-group-btn">
									              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									            </span>
											</div>
											<div class="input-group col-xs-2">
												<timepicker ng-model="followup.scheduled_at" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
											</div>
										</div>


										<input type="text" class="form-control" ng-model="followup.scheduled_at" ng-hide="followup.edition_enabled">
									</div>
									<div class="input-group">
										<label class="control-label">Notes</label>
										<textarea class="form-control" ng-model="followup.notes"></textarea>
									</div>
									<hr>
								</div>
							</fieldset>
						</div>

					</div>
				</div>

			</div>
		</div>
		

	</div>

	
</div>  
