<div class="container proj-over-container overview-appointments">
  <div flash-message="5000"></div>
  
	<div class="proj-over-content">
		<div class="row">
			<div class="col-md-12 container-title">
				<u>APPOINTMENTS</u>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 container-note" ng-show="project.appointments.length==0">
				<span class="note">
					
					Note: There are currently no appointments defined.
				</span>
			</div>
			
			<div class="col-md-12 actn-btn-container">
				<div class="actn-btn" ng-click="add_appointment(project)">
					ADD APPOINTMENT
					<img src="/images/Plus.png" class="pull-right">
				</div>
			</div>
		</div>
	</div>
</div>  
