<div class="sidebar">
	<ul class="sidebar-menu">
		<li class="item">
			<a ui-sref="overview.project">
				<img src="images/overview-browser.png" alt="Overview Browser Icon">
				<span class="title">PROJECT OVERVIEW</span>
			</a>
		</li>
		<li class="item">
			<a ui-sref="overview.project_doc">
				<img src="images/overview-documents.png" alt="Overview Documets Icon">
				<span class="title">PROJECT DOCUMENTS</span>
			</a>
		</li>
		<li class="item">
			<a ui-sref="overview.project">
				<img src="images/overview-billing.png" alt="Overview Billing Icon">
				<span class="title">PROJECT BILLING</span>
			</a>
		</li>
		<li class="item">
			<a ui-sref="overview.contract">
				<img src="images/overview-folder.png" alt="Overview Folder Icon">
				<span class="title">CONTRACT</span>
			</a>
		</li>
		<li class="item">
			<img src="images/overview-box.png">
			<span class="title">PROJECT</span>
		</li>
		<li class="item">
			<a ui-sref="overview.production">
				<img src="images/overview-home.png" alt="Overview Home Icon">
				<span class="title">PRODUCTION</span>
			</a>
		</li>
	</ul>
</div>
<div class="overview-content">
	<div ui-view>
	</div>

</div>
