<div class="container proj-over-container">
  <div class="proj-over-content billing-form">
    <div class="row">
      <div class="col-md-12 container-title">
        <u>BILLING</u>
      </div>
    <div class="form-left-container">

    <div class="col-md-6 form-left overview-header">
      <div class="row">
        <div class="col-md-8">
          <h3 class="title">PROJECT CORE INFO</h3>
          <p><span>SITE:</span> {{site.name}}</p>
          <p><span>ADRESS:</span> {{site.address.address1}}, {{site.address.city}} {{site.address.state.name}}, {{site.address.zipcode}}</p>
          <p><span>PO:</span> {{site.po_number}}</p>
          <p><span>STAGE:</span> <b class="text-uppercase">{{site.stage}}</b></p>
        </div>
        <div class="col-md-4">
          <h3 class="title">NAVIGATE</h3>
          <ul class="link-list">
            <li>
              <a href="" ng-click="scrollTo('project-section')">
                <img src="images/chevron-right.png">
                <span>PROJECT</span>
              </a>
            </li>
            <li>
              <a href="" ng-click="scrollTo('insurance-section')">
                <img src="images/chevron-right.png">
                <span>INSURANCE INFO</span>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="col-md-6 form-left" id="project-section">
      <form ng-submit="updateLocation()">
        <input type="hidden" ng-model="location.id">
        <div class="form-title">
          <span>LOCATION BILLING INFO</span>
          <span class="edit-btn pull-right" ng-click="updateLocation()" ng-show="billExist">
            <img src="/images/Write-white.png"/>
            UDATE BILLING
          </span>
          <span class="edit-btn pull-right" ng-click="updateLocation()" ng-show="!billExist">
            <img src="/images/Write-white.png"/>
            CREATE BILLING
          </span>
        </div>  
        <div class="form-container">
          <div class="form-group col-lg-12">
            <label>Initial payment</label>
            <input type="" name="" class="form-control" id="" value="" ng-model="location.initial_payment">
          </div>
          <div class="form-group col-lg-6">
            <label>Initial payment date</label>
            <p class="input-group date-picker">
              <input class="form-control" id="" value="" ng-model="location.initial_payment_date" datepicker-popup="{{format}}" is-open="opened.initial_payment_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'initial_payment_date')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="form-group col-lg-6">
            <label>Final invoice submitted at</label>
              <p class="input-group date-picker">
                <input class="form-control" id="" value="" ng-model="location.final_invoice_submitted_at" datepicker-popup="{{format}}" is-open="opened.final_invoice_submitted_at">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'final_invoice_submitted_at')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
          </div>
          <div class="form-group col-lg-12">
            <label>Customer invoice notes</label>
            <textarea rows="5" name="" class="form-control" ng-model="location.customer_invoice_notes"></textarea>
          </div>
          <div class="form-group col-lg-6">
            <label>Invoice sent to Project Manager (Date)</label>
            <p class="input-group date-picker">
              <input type="" name="" class="form-control" id="" value="" ng-model="location.invoice_send_to_manager_at" datepicker-popup="{{format}}" is-open="opened.invoice_send_to_manager_at">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'invoice_send_to_manager_at')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="form-group col-lg-6">
            <label>Invoice sent to customer method</label>
            <input type="" name="" class="form-control" id="" ng-model="location.invoice_sent_to_customer_method">
          </div>      
          <div class="form-group col-sm-6">
            <label>Completion payment</label>
            <input tye="text" class="form-control" ng-model="location.completion_payment">
          </div>
          <div class="form-group col-sm-6">
            <label>Completion payment date</label>
            <p class="input-group date-picker">
              <input tye="text" class="form-control" ng-model="location.completion_payment_date" datepicker-popup="{{format}}" is-open="opened.completion_payment_date">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default ng-click-active" ng-click="openDate($event, 'completion_payment_date')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 form-left" id="insurance-section">
      <div class="form-title">
        <span>INSURANCE INFO</span>
          <img src="/images/Write-white.png"/>
          <span class="edit-btn pull-right" ng-click="updateLocation()" ng-show="billExist">
            <img src="/images/Write-white.png"/>
            UDATE BILLING
          </span>
          <span class="edit-btn pull-right" ng-click="updateLocation()" ng-show="!billExist">
            <img src="/images/Write-white.png"/>
            CREATE BILLING
          </span>
      </div>  
      <div class="form-container">
        <div class="form-group col-lg-12">
          <label>Mortgage process notes</label>
          <textarea rows="5" class="form-control" ng-model="insurance.mortgage_process_notes"></textarea>
        </div>
        <div class="form-group col-lg-6">
          <label>Mortgage check location</label>
          <input type="" name="" class="form-control" ng-model="insurance.mortgage_check_location">
        </div>
        <div class="form-group col-lg-6">
          <label>Deductible paid date</label>
          <p class="input-group date-picker">
            <input class="form-control" ng-model="insurance.deductible_paid_date" datepicker-popup="{{format}}" is-open="opened.deductible_paid_date">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event, 'deductible_paid_date')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="form-group col-lg-6">
          <label>Settled RCV</label>
          <input type="" name="" class="form-control" ng-model="insurance.settled_rcv">
        </div>
        <div class="form-group col-lg-6">
          <label>Settled RCV date</label>
          <p class="input-group date-picker">
            <input class="form-control" ng-model="insurance.settled_rcv_date" datepicker-popup="{{format}}" is-open="opened.settled_rcv_date">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event, 'settled_rcv_date')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="form-group col-lg-12">
          <label>Settled scope paperwork notes</label>
          <textarea rows="5" class="form-control" ng-model="insurance.settled_scope_paperwork_notes"></textarea>
        </div>
        <div class="form-group col-lg-6">
          <label>Final check received amount</label>
          <input type="" name="" class="form-control" ng-model="insurance.final_check_received_amount">
        </div>
        <div class="form-group col-lg-6">
          <label>Check released date</label>
          <p class="input-group date-picker">
            <input class="form-control" ng-model="insurance.check_released_date" datepicker-popup="{{format}}" is-open="opened.check_released_date">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event, 'check_released_date')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="form-group col-lg-6">
          <label>Final check received date</label>
          <p class="input-group date-picker">
            <input class="form-control" ng-model="insurance.final_check_received_date" datepicker-popup="{{format}}" is-open="opened.final_check_received_date">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event, 'final_check_received_date')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="form-group col-lg-6">
          <label>Invoice sent to customer at</label>
          <p class="input-group date-picker">
            <input class="form-control" ng-model="insurance.invoice_sent_to_customer_at" datepicker-popup="{{format}}" is-open="opened.invoice_sent_to_customer_at">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event, 'invoice_sent_to_customer_at')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>  
