<div class="container proj-over-container">
	<div class="proj-over-content">
		<div class="row">
			<div class="col-md-12 container-title">
				LINDA HIGGINS(LEAD) /<u> PROJECT OVERVIEW</u>
			</div>
		</div>
		<div class="row">
		<div class="form-left-container">
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>CUSTOMER INFO</span>
				<span class="edit-btn pull-right">
					<img src="/images/Write-white.png"/>
					EDIT
				</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label>Customer first Name</label>
					<input type="" name="" class="form-control" id="" value="Linda">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Customer Last Name</label>
					<input type="" name="" class="form-control" id="" value="Higgins">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Email</label>
					<input type="" name="" class="form-control" id="" value="lhiggans@gmail.com">
				</div>
								
				<div class="form-group col-lg-6">
					<label>Spouse</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Business name</label>
					<input type="" name="" class="form-control" id="" value="Creative Exteriors">
				</div>			
				
				<div class="form-group col-sm-12">
					<label>Other business information</label>
					<input tyoe="text" class="form-control" value="Owner of Creative Exteriors. Very good about referrals."></input>
				</div>
			
			</div>
		</div>
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>PHONE NUMBER</span>
				<span class="edit-btn pull-right">
					<img src="/images/Write-white.png"/>
					EDIT
				</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label>Number</label>
					<input type="" name="" class="form-control" id="" value="303-955-8098">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Type</label>
					<input type="" name="" class="form-control" id="" value="Home">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Primary number</label>
					<input type="" name="" class="form-control" id="" value="303-955-8098">
				</div>
			
			</div>
		</div>
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>ADDRESS</span>
				<span class="edit-btn pull-right">
					<img src="/images/Write-white.png"/>
					EDIT
				</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label>Address 1</label>
					<input type="" name="" class="form-control" id="" value="13340 W 72nd Ave">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Address 2</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>City</label>
					<input type="" name="" class="form-control" id="" value="Arvada">
				</div>
								
				<div class="form-group col-lg-6">
					<label>State</label>
					<input type="" name="" class="form-control" id="" value="CO">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Zip</label>
					<input type="" name="" class="form-control" id="" value="80005">
				</div>
			
			</div>
		</div>
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>DETAILS</span>
				<span class="edit-btn pull-right">
					<img src="/images/Write-white.png"/>
					EDIT
				</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label>Site name</label>
					<input type="" name="" class="form-control" id="" value="Higgans Residence">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Managers</label>
					<input type="" name="" class="form-control" id="" value="priyankgupta1988@gmail.com, christopher.b.meyer@gmail.com, sales@ers.com">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Site contact name</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
								
				<div class="form-group col-lg-6">
					<label>Site contact phone</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				<div class="form-group col-lg-6">
					<label>Source</label>
					<input type="" name="" class="form-control" id="" value="Self-Generated">
				</div>
				<div class="form-group col-lg-6">
					<label>Source info</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				<div class="form-group col-lg-6">
					<label>Stage</label>
					<input type="" name="" class="form-control" id="" value="Production">
				</div>
			
			</div>
		</div>
	</div>
	<div class="col-md-6 core-info-container">
			<span>PROJECTS CORE INFORMATION</span>
			<div class="core-info-card">
              <div class="core-info">
                <span class="info-title">Linda Higgins</span>
                <span class="info-address">13340 W 72nd Ave,</br> Arvada,CO,80005</span></br>
                <span class="info-stage sub-info">Stage:<span>Production</span></span>
                <span class="info-prod-date sub-info">Production Date:<span>30/05/2015</span></span>
                <span class="info-amount sub-info">Amount Owned:<span>$1200</span></span>
              </div>
            </div>
			
		</div>
		<div class="col-md-6 pipe">
			<span>OTHER PROJECTS FOR LINDA HIGGINS</span>
			<!--<div class="pipe-card">
              <div class="pipe-info">
                <span class="info-title">John Doe - 03/27/2015</span>
                <span class="info-data">10 N, Main Street,</br>Boulder,CO,80301</span>
              </div>
            </div>
            <div class="pipe-card">
              <div class="pipe-info">
                <span class="info-title">John Doe - 03/27/2015</span>
                <span class="info-data">10 N, Main Street,</br>Boulder,CO,80301</span>
              </div>
            </div>-->
			
		</div>
	</div>
</div>  
