<div class="container proj-over-container">
  <div flash-message="30000" ></div>
	<div class="proj-over-content">
		<div class="row">
			<div class="col-md-12 container-title">
				{{customer_title}} /<u> PROJECT OVERVIEW</u>
			</div>
		</div>
		<div class="row">
		<div class="form-left-container">
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>{{customer_title}} / CUSTOMER INFO</span>

				<div class="pull-right">
					<button type="button" class="btn btn-xs btn-success" aria-label="Left Align" ng-show="!customer_info_edition_enabled" ng-click="enable_customer_info_edition()">
	  					<span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
					</button>
				</div>

				<div class="pull-right">
					<button type="button" class="btn btn-xs btn-success" aria-label="Left Align" ng-show="customer_info_edition_enabled" ng-click="save_customer_info_edition()">
	  					<span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span> SAVE
					</button>

					<button type="button" class="btn btn-xs btn-warning" aria-label="Left Align" ng-show="customer_info_edition_enabled" ng-click="cancel_customer_info_edition()">
	  					<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> CANCEL
					</button>

				</div>
				
				
			</div>	
			<div class="form-container" ng>
				<fieldset ng-disabled="!customer_info_edition_enabled">
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.firstname}">
						<label class="control-label">Customer first Name</label>
						<input type="" name="" class="form-control" id="" ng-model="customer.firstname">
					</div>
					
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.lastname}">
						<label class="control-label">Customer Last Name</label>
						<input type="" name="" class="form-control" id="" ng-model="customer.lastname">
					</div>
					
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.email}">
						<label class="control-label">Email</label>
						<input type="" name="" class="form-control" id="" ng-model="customer.email">
					</div>
									
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.spouse}">
						<label class="control-label">Spouse</label>
						<input type="" name="" class="form-control" id="" ng-model="customer.spouse">
					</div>
					
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.business_name}">
						<label class="control-label">Business name</label>
						<input type="" name="" class="form-control" id="" ng-model="customer.business_name">
					</div>			
					
					<div class="form-group col-sm-12" ng-class="{'has-error' : errors.other_business_info}">
						<label class="control-label">Other business information</label>
						<input tyoe="text" class="form-control" ng-model="customer.other_business_info"></input>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>{{customer_title}} / PHONE NUMBER</span>
				<span class="edit-btn pull-right">
					<img src="/images/Write-white.png"/>
					EDIT
				</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label class="control-label">Number</label>
					<input type="" name="" class="form-control" id="" ng-model="project.customer.phone_numbers[0].number">
				</div>
				
				<div class="form-group col-lg-6">
					<label class="control-label">Type</label>
					<input type="" name="" class="form-control" id="" ng-model="project.customer.phone_numbers[0].num_type">
				</div>
				
				<div class="form-group col-lg-6">
					<label class="control-label">Primary number</label>
					<input type="" name="" class="form-control" id="" ng-model="project.customer.phone_numbers[0].primary">
				</div>
			
			</div>
		</div>
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>{{customer_title}} / ADDRESS</span>
				<div class="pull-right">
                    <button type="button" class="btn btn-xs btn-success" aria-label="Left Align" ng-show="!address_edition_enabled" ng-click="enable_address_edition()">
                        <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
                    </button>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-xs btn-success" aria-label="Left Align" ng-show="address_edition_enabled" ng-click="save_address_edition()">
                        <span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span> SAVE
                    </button>

                    <button type="button" class="btn btn-xs btn-warning" aria-label="Left Align" ng-show="address_edition_enabled" ng-click="cancel_address_edition()">
                        <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> CANCEL
                    </button>

                </div>
			</div>	
			<div class="form-container">
				<fieldset ng-disabled="!address_edition_enabled">
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors['address.address1']}" >
						<label class="control-label">Address 1</label>
						<input type="" name="" class="form-control" id="" ng-model="address.address1">
					</div>
					
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors['address.address2']}">
						<label class="control-label">Address 2</label>
						<input type="" name="" class="form-control" id="" ng-model="address.address2">
					</div>
					
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors['address.city']}">
						<label class="control-label">City</label>
						<input type="" name="" class="form-control" id="" ng-model="address.city">
					</div>
					
					<!--			
					<div class="form-group col-lg-6">
						<label class="control-label">State</label>
						<input type="" name="" class="form-control" id="" ng-model="address.state.name">
					</div>
					-->
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors['address.state']}">
						<label class="control-label">State<sup>*</sup></label>
						<select type="" name="" class="form-control" id="" value="" ng-model="address.state.id" >
							<option ng-repeat="state in state_abb" value="{{$index+1}}" ng-selected="$index+1==address.state.id">{{state}}</option>
						</select>
					</div>
					
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors['address.zipcode']}">
						<label class="control-label">Zip</label>
						<input type="" name="" class="form-control" id="" ng-model="address.zipcode">
					</div>
				</fieldset>
			</div>
		</div>
		<div class="col-md-6 form-left">
			<div class="form-title">
				<span>{{customer_title}} / DETAILS</span>
				<div class="pull-right">
					<button type="button" class="btn btn-xs btn-success" aria-label="Left Align" ng-show="!site_info_edition_enabled" ng-click="enable_site_info_edition()">
	  					<span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
					</button>
				</div>

				<div class="pull-right">
					<button type="button" class="btn btn-xs btn-success" aria-label="Left Align" ng-show="site_info_edition_enabled" ng-click="save_site_info_edition()">
	  					<span class="glyphicon glyphicon glyphicon-save" aria-hidden="true"></span> SAVE
					</button>

					<button type="button" class="btn btn-xs btn-warning" aria-label="Left Align" ng-show="site_info_edition_enabled" ng-click="cancel_site_info_edition()">
	  					<span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> CANCEL
					</button>

				</div>
			</div>	
			<div class="form-container">
				<fieldset ng-disabled="!site_info_edition_enabled">
					<div class="form-group col-lg-6">
						<label class="control-label">Site name</label>
						<input type="" name="" class="form-control" id="" ng-model="site.name">
					</div>
					
					<div class="form-group col-lg-6">

	          			<label class="control-label">Managers</label>
						<input type="text" class="form-control" ng-model="managersSelected" typeahead="manager as manager.email for manager in managersArray.users | filter:$viewValue" typeahead-on-select="addManager($item, $model, $label)" ng-show="site_info_edition_enabled">
						<div>
							<p class="selected-manager" ng-repeat="manager in site.managers">
								<span class="manager-email">{{ manager.email }}
									<span class="btn btn-xs glyphicon glyphicon-remove-circle remove" aria-hidden="true" ng-click="removeManager(manager.id)" ng-show="site_info_edition_enabled"></span>
								</span>
								
							</p>
						</div>
					</div>
					
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.contact_name}">
						<label class="control-label">Site contact name</label>
						<input type="" name="" class="form-control" id="" ng-model="site.contact_name">
					</div>
									
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.contact_phone}">
						<label class="control-label">Site contact phone</label>
						<input type="" name="" class="form-control" id="" ng-model="site.contact_phone">
					</div>

					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.source}">
						<label class="control-label">Source</label>
						<select type="" name="" class="form-control" id="" value="" ng-model="site.source">
							<option ng-repeat="source in siteSource" value="{{$index+1}}" ng-selected="$index+1==site.source" >{{source}}</option>
						</select>
					</div>
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.source_info}">
						<label class="control-label">Source info</label>
						<input type="" name="" class="form-control" id="" ng-model="site.source_info">
					</div>
					<div class="form-group col-lg-6" ng-class="{'has-error' : errors.stage}">
						<label class="control-label">Stage</label>
						<input type="" name="" class="form-control" id="" ng-model="site.stage" disabled>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
  
	<div class="col-md-6 core-info-container">
			<span>PROJECTS CORE INFORMATION</span>
			<div class="core-info-card">
              <div class="core-info">
                <span class="info-title">{{project.customer.firstname + ' ' + project.customer.lastname}}</span>
                <span class="info-address">{{project.address.address1}},</br> {{project.address.city}},{{project.address.state.name}},{{project.address.zipcode}}</span></br>
                <span class="info-stage sub-info">Stage:<span>{{project.stage}}</span></span>
<!--
                <span class="info-prod-date sub-info">Production Date:<span>30/05/2015</span></span>
                <span class="info-amount sub-info">Amount Owned:<span>$1200</span></span>
-->
              </div>
            </div>
			
		</div>
<!--
		<div class="col-md-6 pipe">
			<span>OTHER PROJECTS FOR LINDA HIGGINS</span>
-->
			<!--<div class="pipe-card">
              <div class="pipe-info">
                <span class="info-title">John Doe - 03/27/2015</span>
                <span class="info-data">10 N, Main Street,</br>Boulder,CO,80301</span>
              </div>
            </div>
            <div class="pipe-card">
              <div class="pipe-info">
                <span class="info-title">John Doe - 03/27/2015</span>
                <span class="info-data">10 N, Main Street,</br>Boulder,CO,80301</span>
              </div>
            </div>-->
			
		</div>
	</div>
</div>  
