<div class="container proj-over-container">
	<div class="proj-over-content">
		<div class="row">
			<div class="col-md-12 container-title">
				CUSTOMERS / <u>CREATE NEW CUSTOMER</u>
			</div>
			<div class="col-md-12 container-note">
				<span class="note">
					<img src="/images/pin.png">
					Note: There's currently no contract signed. Fill out the fields below.
				</span>
			</div>
			<div class="col-md-12 container-head">
				<span class="head">
					ADD CONTRACT
				</span>
			</div>
		</div>
		<div class="row">
		<div class="col-md-6 contract-detail-form form-left">
			<div class="form-title">
				<span class="badge">1</span>
				<span>step 1: CONTRACT INFO</span>
			</div>	
			<div class="form-container">
				<div class="form-group col-lg-6">
					<label>Document<sup>*</sup></label>
					<div class="attachment">
						<label for="upload">
							<img src="/images/clip.png">
							<span>ADD ATTACHMENT</span>
						</label>
						<input type="file" id="upload" class="form-control" ng-model="contract.document" value="">
					</div>
				</div>
				
				<div class="form-group col-lg-6">
					<label>Signed on<sup>*</sup></label>
					<input type="date" class="form-control" datepicker-popup ng-model="contract.signed_at" is-open="opened" ng-required="true" close-text="Close" />
				</div>

				<div class="form-group col-sm-12">
					<label>Notes</label>
					<textarea class="form-control textarea" ng-model="contract.notes"></textarea>
				</div>
			
			</div>
		</div>
		<div class="col-md-6 form-right">
			<div class="container">
				<div class="row">
					<div class="col-md-12 contract-sign-form">
						<div class="form-title">
							<span class="badge">2</span>
							<span>step 2: CONTRACT DETAILS</span>
						</div>
						<div class="form-container">
							<div class="form-group col-lg-6">
								<label for="">Type of Contract</label>
								<select name="" id="" class="form-control" ng-model="contract.contract_type">
									<option value=""></option>
									<option value="1">Cash</option>
									<option value="2">Insurance</option>
									<option value="3">Maintenance</option>
								</select>
							</div>
							<div class="form-group col-lg-6">
								<label>Price</label>
								<input type="number" step="0.01" name="" class="form-control" id="" ng-model="contract.price">
							</div>
							<div class="form-group col-lg-12">
								<label>Type of work to be completed</label>
								<div>
									<small><input id="" name="" type="checkbox" value="1" ng-model="contract.work_types.work_type_1"> Roof </small> &nbsp; 
									<small><input id="" name="" type="checkbox" value="2" ng-model="contract.work_types.work_type_2"> Gutters </small> &nbsp; 
									<small><input id="" name="" type="checkbox" value="3" ng-model="contract.work_types.work_type_3"> Solar </small> &nbsp; 
									<small><input id="" name="" type="checkbox" value="4" ng-model="contract.work_types.work_type_4"> Skylights </small> &nbsp; 
									<small><input id="" name="" type="checkbox" value="5" ng-model="contract.work_types.work_type_5"> Other </small> &nbsp; 
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Special Instructions</label>
								<textarea class="form-control textarea" ng-model="contract.special_instructions"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-12 save-form " style="margin-top:20px;">
						<div class="form-title">
							<span class="badge">3</span>
							<span>step 3: SAVE </span>
							
						</div>
						<div class="form-container">
							<div class="form-group col-lg-12">
								<span>When you’re done - click the save button below.</span>
								<input type="submit" class="btn save-btn" value="SAVE CONTRACT" ng-click="saveContract()">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>  
