<div class="row">
	<div class="col-md-12">
		<div flash-message="5000"></div>
	</div>
</div>
<!-- RESET PASSWORD -->
<div class="bg-container">
	<div class="login-container">
		<form name="passwordReset" ng-submit="sendResetPassword()">

			<div class="login-box">
				<div class="login-box_header">
					RESET PASSWORD
				</div>
				<div class="login-box_body">
					<div class="container">
						<div class="row">
								<div class="form-container">
									<div class="form-group col-lg-12" ng-class="{ 'has-error': passwordReset.resetemail.$invalid }">
										<label>Password<sup>*</sup></label>
										<input type="password" name="password" ng-required="required" autocomplete="off" ng-model="model.password" class="form-control">
									</div>
									<div class="form-group col-lg-12" ng-class="{ 'has-error': passwordReset.resetemail.$invalid }">
										<label>Repeat Password<sup>*</sup></label>
										<input type="password" name="password_confirmation" ng-required="required" autocomplete="off" ng-model="model.password_confirmation" class="form-control">
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn login-btn" ng-disabled="testPassword()" ng-click="sendResetPassword()">
				<span>RESET PASSWORD</span>
				<img src="/images/West.png">
				<input type="submit" style="display:none;">
			</div>
		</form>
		</div>
	</div>
</div>
