<div class="container site-container">
  <div flash-message="5000"></div>
  <div class="site-content">
    <div class="col-xs-12 container-title">
      <u>USER SETTINGS</u>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-5 reset-password">
      <div class="form-title col-xs-12">
        <span>Change Password</span>
      </div>
      <form class="clearfix" ng-submit="changePassword()">
        <div class="form-container reset-password-form">
          <div class="form-group col-xs-12" ng-class="{'has-error' : errors.fullname}">
            <label class="control-label">Full Name <sup>*</sup> {{errors.fullname}}</label>
            <input type="text" name="" class="form-control ng-pristine ng-untouched ng-valid" id="" ng-model="data.fullname" tabindex="0" aria-invalid="false">
          </div>
          <div class="form-group col-xs-12" ng-class="{'has-error' : errors.email}">
            <label class="control-label">Email <sup>*</sup> {{errors.email}}</label>
            <input type="text" name="" class="form-control ng-pristine ng-untouched ng-valid" id="" ng-model="data.email" tabindex="0" aria-invalid="false">
          </div>
          <div class="form-group col-xs-12" ng-class="{'has-error' : errors.password}">
            <label class="control-label">Password <sup>*</sup> {{errors.password}}</label>
            <input type="password" name="" class="form-control ng-pristine ng-untouched ng-valid" id="" ng-model="data.password" tabindex="0" aria-invalid="false">
          </div>
          <div class="form-group col-xs-12" ng-class="{'has-error' : errors.password_confirmation}">
            <label class="control-label">Confirm Password <sup>*</sup> {{errors.password_confirmation}}</label>
            <input type="password" name="" class="form-control ng-pristine ng-untouched ng-valid" id="" ng-model="data.password_confirmation" tabindex="0" aria-invalid="false">
          </div>
          <div class="text-right">
            <div class="col-xs-12 text-right">
              <input type="submit" class="btn update-form ng-click-active" value="Update" tabindex="0">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
