<div class="container site-container">
  <div flash-message="5000" ></div>
  <div class="container site-content">
    <div class="row">
      <div class="col-md-12 container-title">
        <u>USER SETTINGS</u>
      </div>
    </div>
    <div class="row">
      <div class="container sites-container">
        <div class="col-md-5 form-left reset-password">
          <div class="form-title">
            <span class="ng-binding">Change Password</span>
          </div>
          <form ng-submit="changePassword">
            <div class="form-container reset-password-form">
              <div class="form-group col-md-12">
                <label class="control-label">Old Password</label>
                <input type="password" name="" class="form-control ng-pristine ng-untouched ng-valid" id="" ng-model="password" tabindex="0" aria-invalid="false">
              </div>
              <div class="form-group col-md-12">
                <label class="control-label">New Password</label>
                <input type="password" name="" class="form-control ng-pristine ng-untouched ng-valid" id="" ng-model="newPassword" tabindex="0" aria-invalid="false">
              </div>
              <div class="form-group col-md-12">
                <label class="control-label">Confirm Password</label>
                <input type="password" name="" class="form-control ng-pristine ng-untouched ng-valid" id="" ng-model="confirmPassword" tabindex="0" aria-invalid="false">
              </div>
              <div class="text-right">
                <div class="col-md-12 text-right">
                  <input type="submit" class="btn update-form ng-click-active" value="Change Password" tabindex="0">
                </div>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>