<div class="container site-container">
  <div flash-message="30000" ></div>
	<div class="container site-content">
		<div class="row">
			<div class="col-md-12 container-title">
				SITES/<u>SITES OVERVIEW</u>
			</div>
		</div>
		<div class="row">
		<div class="container sites-container">
			<div class="sites-content">
					<div class="col-md-12 actn-btn-container">
						<div class="actn-btn">
							Batch actions
							<img src="/images/Forward.png" class="pull-right">
						</div>
						<a ui-sref="newsite"><div class="actn-btn pull-right">
							CREATE SITE
							<img src="/images/Plus.png" class="pull-right">
						</div></a>
					</div>
					<div class="col-md-12">
						<table class="table site-table" at-table at-list="siteList" at-config="config">
						  <thead>
						  </thead>
						  <tbody>
						    <tr>
						      <td at-implicit at-title="site name" at-attribute="name" width="180px"></td>
						      <td at-title="address" width="180px">{{siteList[$index].address.address1}},</br>{{siteList[$index].address.city}},{{state_abb[siteList[$index].address.state.id - 1]}},{{siteList[$index].address.zipcode}}</td>
						      <td at-title="customer name">{{siteList[$index].customer.firstname}} {{siteList[$index].customer.lastname}}</td>
						      <td at-implicit at-title="#po number" at-attribute="po_number" width="150px"></td>
						      <td at-title="Actions" class="row-actn-btns"><a ui-sref="customers.overview"><span>view</span></a><span>edit</span><span>delete</span></td>
						      <td at-title="<input type='checkbox'></input>"><input type='checkbox'></input></td>
						    </tr>
						     
						  </tbody>
						</table>
						<span class="page-container"><span>Select Page:</span><span class="pages" ng-repeat="n in pagerange(1,sites.total_pages)" ng-click="gotopage($index+1)" ng-class="{active: isActive($index+1)}">{{n}}</span></span>
					</div>
				</div>
				<div class="usr-srchbx">
					<div class="form-title">SEARCH FOR SITE</div>
						<div class="form-container">
							<div class="form-group col-lg-12">
							<label class="control-label">Manager</label>
							<input type="" name="" class="form-control" id="" ng-model="search_by_manager">
						    </div>
							<div class="form-group col-lg-12">
							<label class="control-label">Site name</label>
							<input type="" name="" class="form-control" id="" ng-model="search_by_name">
						    </div>
							<div class="form-group col-lg-12">
							<label class="control-label">Address</label>
							<input type="" name="" class="form-control" id="" ng-model="search_by_address">
						   </div>
						   <div class="form-group col-lg-12">
							<label class="control-label">City</label>
							<input type="" name="" class="form-control" id="" ng-model="search_by_city">
						   </div>
						  
               <div class="form-group col-lg-12">
                <label class="control-label">State<sup>*</sup></label>
                <select type="" name="" class="form-control" id="" value="" ng-model="search_by_state_id" >
                  <option ng-repeat="state in state_abb" value="{{$index+1}}">{{state}}</option>
                </select>
                </div>
						  
               <div class="form-group col-lg-12">
							<label class="control-label">Zip</label>
							<input type="" name="" class="form-control" id="" ng-model="search_by_zipcode">
						   </div>
						   <div class="form-group col-lg-12">
							<input type="submit" class="btn save-btn" value="SEARCH" ng-click="findSites(search_by_manager,search_by_name,search_by_address,search_by_city,search_by_state_id,search_by_zipcode)">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div> 
