<div class="container site-container">
  <div flash-message="30000" ></div>
	<div class="container site-content">
		<div class="row">
			<div class="col-md-12 container-title">
				SITES/<u>SITES OVERVIEW</u>
			</div>
		</div>
		<div class="row">
		<div class="container sites-container">
			<div class="sites-content">
					<div class="col-md-12 actn-btn-container">
						<div class="actn-btn">
							Batch actions
							<img src="/images/Forward.png" class="pull-right">
						</div>
						<a ui-sref="newsite"><div class="actn-btn pull-right">
							CREATE SITE
							<img src="/images/Plus.png" class="pull-right">
						</div></a>
					</div>
					<div class="col-md-12">
						<table class="table site-table" at-table at-list="siteList" at-config="config">
						  <thead>
						  </thead>
						  <tbody>
						    <tr>
						      <td at-implicit at-title="site name" at-attribute="name" width="180px"></td>
						      <td at-title="address" width="180px">{{siteList[$index].address.address1}},</br>{{siteList[$index].address.city}},{{state_abb[siteList[$index].address.state.id - 1]}},{{siteList[$index].address.zipcode}}</td>
						      <td at-title="customer name">{{siteList[$index].customer.firstname}} {{siteList[$index].customer.lastname}}</td>
						      <td at-implicit at-title="#po number" at-attribute="po_number" width="150px"></td>
						      <td at-title="Actions" class="row-actn-btns"><a ng-href="#/overview/project?siteId={{siteList[$index].id}}"><span>view/edit</span></a></td>
						      <td at-title="<input type='checkbox'></input>"><input type='checkbox'></input></td>
						    </tr>
						     
						  </tbody>
						</table>
						<span class="page-container"><span>Select Page:</span><span class="pages" ng-repeat="n in pagerange(1,sites.total_pages)" ng-click="gotopage($index+1)" ng-class="{active: isActive($index+1)}">{{n}}</span></span>
					</div>
				</div>
				<div class="usr-srchbx">
					<div class="form-title">SEARCH FOR SITE</div>
						<form ng-submit="search()">
							<div class="form-container">
								<div class="form-group col-lg-12">
									<label class="control-label">Manager</label>
									<input type="" name="" class="form-control" id="" ng-model="searchForm.managers_email_eq">
							  	<!-- <input type="text" class="form-control" ng-model="selected_manager" typeahead="manager as manager.email for manager in managersArray.users | filter:$viewValue"> -->
							  </div>
								<div class="form-group col-lg-12">
								<label class="control-label">Site name</label>
								<input type="" name="" class="form-control" id="" ng-model="searchForm.name_cont">
							    </div>
								<div class="form-group col-lg-12">
								<label class="control-label">Address</label>
								<input type="" name="" class="form-control" id="" ng-model="searchForm.address_address1_cont">
							   </div>
							   <div class="form-group col-lg-12">
								<label class="control-label">City</label>
								<input type="" name="" class="form-control" id="" ng-model="searchForm.address_city_cont">
							   </div>
							  
	               <div class="form-group col-lg-12">
	                <label class="control-label">State<sup>*</sup></label>
	                <select type="" name="" class="form-control" id="" value="" ng-model="searchForm.address_state_id_eq" >
	                  <option ng-repeat="state in state_abb" value="{{$index+1}}">{{state}}</option>
	                </select>
	                </div>
							  
	               <div class="form-group col-lg-12">
									<label class="control-label">Zip</label>
									<input type="" name="" class="form-control" id="" ng-model="searchForm.address_zipcode_eq">
							   </div>
							  
	               <div class="form-group col-lg-12">
									<label class="control-label">PO Number</label>
									<input type="" name="" class="form-control" id="" ng-model="searchForm.contract_po_number_equals">
							   </div>
							   <div class="form-group col-lg-12">
								<input type="submit" class="btn save-btn" value="SEARCH">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div> 
