<form id="fileupload" class="fileupload" method="POST" enctype="undefined" data-ng-app="AssetsCtrl" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

  <div class="row fileupload-buttonbar">

    <div class="col-lg-7">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add files...</span>
          <input type="file" name="files" multiple ng-disabled="disabled">
      </span>
      <button type="button" class="btn btn-primary start" data-ng-click="submit()">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start upload</span>
      </button>
      <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel upload</span>
      </button>
      <!-- The global file processing state -->
      <span class="fileupload-process"></span>
    </div>
    <!-- The global progress state -->
    <div class="col-lg-5 fade" data-ng-class="{in: active()}">
      <!-- The global progress bar -->
      <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
      <!-- The extended global progress state -->
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
  <!-- The table listing the files available for upload/download -->

  <table class="table table-striped files ng-cloak">
    <tr data-ng-repeat="file in queue">
      <td data-ng-switch data-on="!!file.thumbnailUrl">
        <div class="preview" data-ng-switch-when="true">
          <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt="" style="width: 70px;"></a>
        </div>
        <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
      </td>
      <td>
        <p class="name" data-ng-switch data-on="!!file.url">
          <label for="title" class="control-label">Title</label>
          <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
              <!-- <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a> -->
              <input data-ng-switch-when="true" type="text" id="title" name="title" ng-model="file.name" class="form-control">
              <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
          </span>
          <input data-ng-switch-default type="text" id="title" name="title" ng-model="file.name" class="form-control">
        </p>
        <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
      </td>
      <td>
        <label for="doc_type">Doc Type: {{file.doc_type}}</label>
        <select name="doc_type" id="doc_type" ng-model="file.doc_type" class="form-control" ng-options="docType.title as docType.title for docType in docTypes">
        </select>
      </td>
      <td>
        <label for="stage" class="control-label">Stage:</label>
        <select name="stage" id="stage" ng-model="file.stage" class="form-control" ng-options="stage.title as stage.title for stage in stages">
        </select>
      </td>
      <td>
        <label for="notes">Additional Notes:</label>
        <textarea id="notes" name="notes" ng-model="file.notes" class="form-control"></textarea>
      </td>
      <td>
        <label for="size">Filesize:</label>
        <p class="size">{{file.size | formatFileSize}}</p>
        <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
      </td>
      <td class="document-action">
        <button type="button" class="btn btn-primary btn-small start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start</span>
        </button>
        <button type="button" class="btn btn-primary btn-small update" data-ng-click="file.$update()" data-ng-hide="!file.$update" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Update</span>
        </button>
        <button type="button" class="btn btn-warning btn-small cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel</span>
        </button>
        <button type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy" data-ng-controller="FileDestroyController">
          <i class="glyphicon glyphicon-trash"></i>
          <span>Delete</span>
        </button>
      </td>
    </tr>
  </table>
</form>